<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <appSettings>
            <add key="PYTHONPATH" value="C:\Users\federico\Desktop\Proyecto web\administracion_los_andes" />
            <add key="WSGI_HANDLER" value="app.app" />
        </appSettings>
    </location>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI 2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\federico\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\federico\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>