@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  /*
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(166,211,211,1) 100%, rgba(0,128,128,1) 100%);
  */
  zoom: 90%
}

#main-content, #footer {
  transition: margin-left 0.3s ease;
  /*padding-top: 35px;*/
  padding-left: 20px;
  font-family: 'Rubik', sans-serif;
}

.btn-cerrar {
  display: inline-block;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.btn-cerrar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cerrar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-cerrar:hover span {
  padding-right: 25px;
}

.btn-cerrar:hover span:after {
  opacity: 1;
  right: 0;
}


#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

table {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

th {
  color: white;
  background-color: #000080;
  padding: 10px;
  border-radius: 5px;
}

td{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.btn {
  border: none;
  color: white;
  padding: 14px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.primary {background-color: #007bff;} 
.primary:hover {background: #0b7dda;}
.secondary {background-color: #e7e7e7; color: black;} 
.secondary:hover {background: #ddd;}
.success {background-color: #04AA6D;} 
.success:hover {background-color: #46a049;}
.warning {background-color: #ff9800;} 
.warning:hover {background: #e68a00;}
.danger {background-color: #f44336;} 
.danger:hover {background: #da190b;}

.tooltip {
  visibility: hidden;
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid white;
}

.icon-container {
  position: relative;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.input-container-calendar {
  position: relative;
  display: inline-block;
}

.confirm-button-calendar {
  position: absolute;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.confirm-button-calendar:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  form {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: center;
  justify-content: center;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
}


nav ul li a {
  text-decoration: none;
  color: #00ba00;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a:hover {
  background-color: #00ba00;
  color: white;
}

input, textarea{
  display: table;
  width: 70%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  border-color: grey;
  color: #008080;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-decoration: none;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a:hover {
  background-color: #ddd;
}