@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  /*
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(166,211,211,1) 100%, rgba(0,128,128,1) 100%);
  */
}

#sidebar {
  width: 250px;
  height: 100%;
  background-color: #008080;
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
}

#sidebar ul {
  padding: 10px;
  margin-top: 40px;
  list-style: none;
}

#sidebar ul li {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

#main-content, #footer {
  transition: margin-left 0.3s ease;
  padding-top: 35px;
  padding-left: 20px;
}

#toggle-btn {
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  position: fixed;
  left: 0%;
  margin-top: 15px;
  margin-left: 30px;
  height: 30px;
  width: 30px;
  font-size: 10px;
  border-radius: 100%;
  border-color: white;
}

.btn-cerrar {
  display: inline-block;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.btn-cerrar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cerrar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-cerrar:hover span {
  padding-right: 25px;
}

.btn-cerrar:hover span:after {
  opacity: 1;
  right: 0;
}

.button_slide {
  color: #008080;
  border: 2px solid #008080;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #008080;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 5px
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #008080;
  border-radius: 10px;
  color: white;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #00cc66;
  border-radius: 10px;
  color: white;
}

.button_slide_right {
  color: #00cc66;
  border: 2px solid #00cc66;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #00cc66;
  -webkit-transition: ease-out 0.s;
  -moz-transition: ease-out 0.s;
  transition: ease-out 0.4s;
  font-weight: 900;
}

.btn_imagen{
    color: #008080;
    border: 2px solid #008080;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #008080;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    margin: 5px;
}

.btn_imagen:hover {
  box-shadow: inset 400px 0 0 0 #008080;
  border-radius: 10px;
  color: white;
}

table{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

th {
  color: white;
  background-color: #008080;
  padding: 10px;
  border-radius: 5px;
}

td{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.btn {
  border: none;
  color: white;
  padding: 14px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.primary {background-color: #007bff;} 
.primary:hover {background: #0b7dda;}
.secondary {background-color: #e7e7e7; color: black;} 
.secondary:hover {background: #ddd;}
.success {background-color: #04AA6D;} 
.success:hover {background-color: #46a049;}
.warning {background-color: #ff9800;} 
.warning:hover {background: #e68a00;}
.danger {background-color: #f44336;} 
.danger:hover {background: #da190b;}