{% extends 'index.html' %}

{% block titulo %}
Administración Los Andes | Inicio
{% endblock %}

{% block body %}
<div id="main-content">
  <h1>Bienvenido {{ current_user.fullname }} al sistema.</h1>
  <p><-- Recuerda nuestro dashboard para selecionar una opción en el menú lateral.</p>
  {% if pendiente == () %}
  <p> 
  <table style="text-align: center; margin: 0 auto;">
    <tr>
      <th style="background: #04AA6D;">No tiene tareas pendientes para hoy</th>
    </tr>
  </table>
  </p>
  {% else %}
  <p>
    <table style="box-shadow: none; background: none; margin: 0 auto;;">
      <th style="background: grey; background: none; color: #008080; padding: 0; font-size: 20px;">Tareas pendientes para hoy {{ pendiente[0][0] }}</th>
    </table>
    <table style="margin: 0 auto">
      <tr>
        <td></td>
        <th>Empresa</th>
        <th>Cliente</th>
        <th colspan="2">Notas de llamada</th>
        <th colspan="4">Tarea pendiente</th>
      </tr>
    {% for t in pendiente %}
      <tr>
        <td>
          <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="actualizarRegistro('{{t[9]}}', 'agente',this.value)">
            {% for agente in agentes %}
            {% if agente [0] == current_user.fullname %}
            <option value="{{ agente[0] }}" selected>{{ agente[0] }}</option>
            {% else %}
            <option value="{{ agente[0] }}">{{ agente[0] }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
        <td style="color: #008080; text-align: center;">{{ t[1] }}</td>
        <td>{% if t[3] != '' %}<a type="button" onclick="editarCliente('nombre','{{t[3]}}', '{{t[2]}}', 'formulario_actualizacion', '{{t[2]}}')">{% endif %}<img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ t[2] }}{% if t[3] != '' %}</a>{% endif %}
          {% if t[3] != '' %}
          <br><a type="button" onclick="editarCliente('telefono', '{{t[3]}}', '{{t[3]}}', 'formulario_actualizacion', '{{t[2]}}')"><img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{t[3]}}
          {% endif %}
          {% if t[12] != '' %}
          <br>{% if t[3] != '' %}<a type="button" onclick="editarCliente('ubicacion', '{{t[3]}}', '{{t[12]}}', 'formulario_actualizacion', '{{t[2]}}')">{% endif %}<img src="{{ url_for('static', filename='img/location-dot-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{t[12]}}{% if t[3] != '' %}</a>{% endif %}
          {% endif %}
          {% if t[6] != '' %}
          <br>{% if t[3] != '' %}<a type="button" onclick="editarCliente('email', '{{t[3]}}', '{{t[6]}}', 'formulario_actualizacion', '{{t[2]}}')">{% endif %}<img src="{{ url_for('static', filename='img/envelope-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{t[6]}}{% if t[3] != '' %}</a>{% endif %}
          {% endif %}
        </td>
        {% if t[4] != '' %}
        <td><img src="{{ url_for('static', filename='img/note-sticky-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ t[4] }}</td>
        {% else %}
        <td>No tiene ningún motivo cargado</td>
        {% endif %}
        <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" onclick="pedirDatos('{{t[9]}}', 'motivo', 'Nota nueva:')" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20"></button></td>
        <td><img src="{{ url_for('static', filename='img/briefcase-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ t[5] }} 
        {% if t[10] != '' %}
         a las {{ t[10]}}
        {% endif %}
        </td>
        <td>
          <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="actualizarRegistro('{{t[9]}}', 'tarea',this.value)">
            {% for tarea in tareas %}
            {% if tarea[1] != 'NO LE INTERESA' %}
            {% if tarea[1] == t[5] %}
            <option value="{{tarea[0]}}" selected>{{tarea[1]}}</option>
            {% else %}
            <option value="{{tarea[0]}}">{{tarea[1]}}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
          </select>
        </td>
        <td>
          <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="actualizarRegistro('{{t[9]}}', 'fecha',this.value)">
            {% for fecha in calendario %}
            <option value="{{fecha[0] }}">{{ fecha[1]}}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="actualizarRegistro('{{t[9]}}', 'hora',this.value)">
            <option value="" style="color: #008080;" selected>{{ t[10] }}</option>
            {% for h in range (9,20) %}
            <option value="{{h}}:00 h">{{h}}:00 h</option>
            {% endfor %}
          </select>
        </td>
        <td><button type="button" style="margin: 0; padding: 5px; font-size: 16px;" class="btn danger" onclick="pedirDatos('{{ t[9] }}', 'rechazo', 'Razón del rechazo:')">No le interesó</button></td>
        <td><button type="button" onclick="Cancelar('{{ t[2] }}','{{ t[6] }}',document.getElementById('{{ t[9] }}').value,'{{ t[8] }}','{{ t[9] }}')" style="margin: 0; padding: 5px; font-size: 16px;" class="btn primary">Enviar cotización</button></td>
        <td><textarea id='{{ t[9] }}' cols="30" rows="10" style="display: None;">{{ t[7] }}</textarea></td>
      </tr>
      <tr>
      <td colspan="12" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
    {% endfor %}
    </table>
  </p>
  <form action="/cotizacion/listo" method="POST" name="form_cotizacion_listo">
  <input type="hidden" id="cotizacion_listo" name="cotizacion_listo" value="0">
  </form>
  {% endif %}
  {% for i in tablas %} 
  <button type="button" onclick="document.formulario.action='/menu'; document.getElementById('menuempresa').value = '{{ i[0] }}'; document.formulario.submit();" style="background: none; border: none; font-size: 26px; font-family: 'Rubik', sans-serif;;"><div style="font-size: 26px; text-align: center; max-width: 200px;" class="btn_imagen">{{ i[0] }}
    {% if i[1] != None %}
    <br>
    <img src="{{ url_for('mostrar_logo', cliente=i[0]) }}" alt="El formato de imagen no pudo ser procesado" style="width: 50px; height: 50px; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;">
    {% endif %}
    <!--
    <br>
    <button type="button" onclick="document.formulario.action='/menu/preguntasfrecuentes'; document.getElementById('menuempresa').value = '{{ i[0] }}'; document.formulario.submit();" style="font-size: 14px; background-color: #C39BD3; color: white; font-family: 'Rubik', sans-serif; border-radius: 5px;">Preguntas frecuentes</button>
    <button type="button" onclick="document.formulario.action='/menu'; document.getElementById('menuempresa').value = '{{ i[0] }}'; document.formulario.submit();" style="font-size: 14px; background-color: #85C1E9; color: white; font-family: 'Rubik', sans-serif; border-radius: 5px;">Registrar cotización</button>
    -->
  </div></button>
  {% endfor %}
  <a href="{{ url_for('altaCliente') }}"><div style="font-size: 26px;" class="button_slide_right slide_right">+ Nuevo</div></a>
  <form method="POST" name="formulario">
    <input type="hidden" name="menuempresa" id="menuempresa">
  </form>
  <form method="POST" name="formulario_actualizacion" id="formulario_actualizacion">
    <input type="hidden" id="accion" name="accion">
    <input type="hidden" id="eliminar" name="eliminar">
    <input type="hidden" id="agentenuevo" name="agentenuevo">
    <input type="hidden" name="redireccion" value="dashboard">
    <input type="hidden" name="nota" id="nota">
    <input type="hidden" name="cliente" id="cliente">
  </form>
</div>
{% endblock %}

{% block js %}
<script>
function pedirDatos(id, accion, descripcion){
    document.getElementById('accion').value = accion;
    document.getElementById('eliminar').value = id;
    let respuesta = prompt(descripcion);
        if (respuesta != null){
            document.getElementById('agentenuevo').value = respuesta;
            document.formulario_actualizacion.action = '/registros/editarregistro/actualizar';
            document.formulario_actualizacion.submit();
        }
}

function actualizarRegistro(id, accion, nuevo){
  document.getElementById('accion').value = accion;
  document.getElementById('eliminar').value = id;
  document.getElementById('agentenuevo').value = nuevo;
  document.formulario_actualizacion.action = '/registros/editarregistro/actualizar';
  document.formulario_actualizacion.submit();
}
</script>
{% endblock %}