{% extends 'index.html' %}

{% block titulo %}
Administración Los Andes | Inicio
{% endblock %}

{% block css %}
<style>
        /* Estilos para la ventana emergente */
        .popup-modal {
            display: none; /* Ocultar por defecto */
            position: absolute;
            z-index: 1; /* Sobre otros elementos */
            background-color: #fefefe;
            border: 1px solid #888;
            width: 500px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Sombra ligera */
            padding: 20px;
            opacity: 0; /* Inicialmente invisible */
            transform: scale(0.8); /* Inicialmente reducido */
            transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
        }
        /* Estilos para el botón de cerrar */
        .popup-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .popup-close:hover,
        .popup-close:focus {
            color: black;
        }
        /* Clase para mostrar el modal con animación */
        .popup-modal.show {
            display: block;
            opacity: 1; /* Totalmente visible */
            transform: scale(1); /* Tamaño normal */
        }

        .td_empresa{
          width: 14%;
          text-align: center;
          color: #6495ED;
        }

        .btn-empresa {
          background-color: #6495ED;
          color: white;
        }

        .btn-empresa-hidden {
          background-color: #BDBDBD;
          color: grey;
        }

        .btn-empresa, .btn-empresa-hidden {
            font-family: 'Rubik', sans-serif;
            border: none;
            padding: 15px 30px;
            cursor: pointer;
            border-radius: 8px;
            transition: all 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
            margin-right: 5px;
            width: 70%;
            /*text-shadow: 1px 1px 5px black;*/
        }

        .btn-empresa:hover, .btn-empresa-hidden:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
            /*text-shadow: none;*/
        }

        .btn-empresa:hover {
          background-color: white;
          color: #6495ED;
          border: 2px solid #6495ED;
        }

        .btn-empresa-hidden:hover {
          color: black;
          border: 2px solid black;
        }

        .btn-empresa:active, .btn-empresa-hidden:active {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transform: scale(0.95);
        }

        .td_empresa_nombre {
          text-align: center;
          vertical-align: top;
        }
</style>
{% endblock %}

{% block body %}
<div id="main-content">
  <h1>Bienvenido {{ current_user.fullname }} al sistema.</h1>
    <span class="icon-container">
    <button style="position: absolute; padding: 9px; vertical-align: middle; background: none; color: #04AA6D; font-size: 24px;" class="btn success" id="openPopupBtn"><i class="fa fa-plus"></i></button>
    <span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D; border: 1px white solid; transform: translateX(75%);">Nueva empresa</span></span>
  <span style="position: absolute; z-index: 1; padding: 0; margin: 0; left: 97.5%">
    <span class="icon-container">
    <button style="position: absolute; z-index: 1; padding: 9px; vertical-align: middle; background: none; color: orange; font-size: 24px;" class="btn warning" onclick="mostrarEditarEmpresas()"><i class="fa fa-pencil"></i></button>
    <span class="tooltip" id="tooltip-editar" style="background-color: orange; border: 1px white solid; transform: translatex(75%);">Editar empresas</span></span>
  </span>
    <!--TABLA DE EMPRESAS-->
    <table style="width: 100%; background: none; box-shadow: none; margin: 0 auto;">
      <tr>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-alojamientos.png') }}" style="max-width: 30%;">
          <h3>ALOJAMIENTOS</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-inmuebles.png') }}" style="max-width: 30%;">
          <h3>VENTA DE INMUEBLES</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-apartamentos.png') }}" style="max-width: 30%;">
          <h3>RENTA DE APARTAMENTOS</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-camaras.png') }}" style="max-width: 30%; margin-right: -5px;">
          <img src="{{ url_for('static', filename='img/empresas-internet.png') }}" style="max-width: 30%; margin-left: -5px;">
          <h3>TS NETWORK</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-carros.png') }}" style="max-width: 30%;">
          <h3>VENTA DE CARROS</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-articulos.png') }}" style="max-width: 30%;">
          <h3>VENTA DE ARTÍCULOS</h3>
        </td>
        <td class="td_empresa">
          <img src="{{ url_for('static', filename='img/empresas-vacantes.png') }}" style="max-width: 30%;">
          <h3>CONTACTOS PARA VACANTES</h3>
        </td>
      </tr>
      <tr>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'ALOJAMIENTOS' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'VENTA DE INMUEBLES' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'RENTA DE APARTAMENTOS' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'TS NETWORK' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'VENTA DE CARROS' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'VENTA DE ARTÍCULOS' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
        <td class="td_empresa_nombre">
          {% for e in empresas %}
          {% if e[1] == 'CONTACTOS PARA VACANTES' %}
          <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
          <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
            <span class="icon-container">
            <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
            <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
            </span></span>
          </span>
          {% endif %}
          {% endfor %}
        </td>
          {% for e in empresas %}
          {% if not e[1] %}
          <td class="td_empresa_nombre">
            <button class={% if e[2] %}"btn-empresa"{% else %}"btn-empresa-hidden" hidden{% endif %} onclick="location.replace('empresas/'+'{{e[0]}}')">{{e[0]}}</button>
            <span class="span-empresa" hidden><span class="icon-container"><i class="fa fa-pencil" style="margin-right: 5px; cursor: pointer; color: gray;" onclick="modificarEmpresa('editar', '{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: gray; border: 1px white solid;">Editar "{{e[0]}}"</span></span><span class="icon-container"><i class="fa fa-trash" style="color: red; cursor: pointer;" onclick="confirmarEliminarEmpresa('{{e[0]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: red; border: 1px white solid;">Eliminar "{{e[0]}}"</span></span>
              <span class="icon-container">
              <i class={% if e[2] %}"fa fa-eye-slash" onclick="modificarEmpresa('visible', '{{e[0]}}', '0')"{% else %}"fa fa-eye" onclick="modificarEmpresa('visible', '{{e[0]}}', '1')"{% endif%} style="cursor: pointer;"></i>
              <span class="tooltip" id="tooltip-editar" style="background-color: grey; border: 1px white solid;">{% if e[2] %}Ocultar{% else %}Mostrar{% endif %} "{{e[0]}}"
              </span></span>
            </span>
          </td>
          {% endif %}
          {% endfor %}
      </tr>
    </table>
  {% if porvencer == () and vencidos == () and vencehoy == () %}
  <div style="margin-bottom: 25px;">
  {% else %}
  <div style="display: flex; margin-bottom: 25px;">
  {% endif %}
  <span style="width: 70%;">
    {% if porvencer == () and vencidos == () and vencehoy == () %}
    <table style="width: 70%; margin: 0 auto; margin-bottom: 25px; {% if pendiente == () %}box-shadow: none; padding: 0;{% endif %}">
    {% else %}
    <table style="width: 100%; margin-bottom: 25px; {% if pendiente == () %}box-shadow: none; padding: 0;{% endif %}">
    {% endif %}
    {% if pendiente != () %}
    <tr>
      <th style="color: #000080; font-size: 20px; background: none; text-align: center;" colspan="5">Tareas para HOY • {{ nombre_dia_hoy }}</th>
    </tr>
      <tr>
        <td></td>
        <th>Empresa</th>
        <th>Cliente</th>
        <th>Notas de llamada</th>
        <th>Tarea</th>
      </tr>
    {% else %}
    <tr>
      <th style="color: #00ba00; font-size: 22px; background: none; text-align: center;"><img src="{{ url_for('static', filename='img/cheque.png') }}" width="20" height="20"> No tiene tareas para hoy • {{ nombre_dia_hoy }}</th>
    </tr>
    {% endif %}
    {% for t in pendiente %}
    
    {% if t[14] == 'REGISTRO' %}
    <tr>
        <td style="margin: 0; padding: 0;">
        <span class="icon-container"><i class="fa fa-headphones"></i>
        <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer" onchange="cambiarRegistro(this.value, '{{t[9]}}','agente', '{{t[2]}}', '{{t[3]}}', null, true)">
          {% for agente in agentes %}
          <option value="{{ agente[0] }}" {% if agente[0] == current_user.fullname %}selected{% endif %}>{{ agente[0] }}</option>
          {% endfor %}
        </select>
        <span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </td>
        <td style="color: #000080; text-align: center;">
          <span class="icon-container">
          <select style=" font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer; color: #000080;" onchange="cambiarRegistro(this.value, '{{t[9]}}', 'empresa', '{{t[2]}}', '{{t[3]}}', null, true)">
                <option value="{{t[1]}}" selected>{{t[1]}}</option>
            {% for empresa in empresas %}
            {% if empresa[0] != t[1] %}
                <option value="{{empresa[0]}}" style="color: black">{{empresa[0]}}</option>
            {% endif %}
            {% endfor %}
          </select>
          <span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span>
        </td>
        <td>
          <span class="icon-container"><i class="fa fa-user-circle" {% if t[3] %}onclick="cambiarRegistroPopUp('o', '{{t[9]}}', 'nombre', '{{t[2]}}', '{{t[3]}}', '{{t[2]}}', null, true);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{ t[2] }}

          {% if t[3] %}
                    <br><span class="icon-container"><i class="fa fa-phone" onclick="cambiarRegistroPopUp('o', '{{t[3]}}', 'telefono', '{{t[2]}}', '{{t[3]}}', '{{t[3]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Editar teléfono</span></span> {{ t[3] }}
          {% endif %}

          {% if t[1] == 'TS NETWORK CAMARAS DE SEGURIDAD' or t[1] == 'TS NETWORK INTERNET' %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'direccion', '{{t[2]}}', '{{t[3]}}', '{{t[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{t[7]}}
          {% else %}
                    {% if t[7] %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'direccion', '{{t[2]}}', '{{t[3]}}', '{{t[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{t[7]}}
                    {% endif %}
          {% endif %}

          {% if t[6] %}
                <br><span class="icon-container"><i class="fa fa-envelope" onclick="cambiarRegistroPopUp('o', '{{t[9]}}', 'email', '{{t[2]}}', '{{t[3]}}', '{{t[6]}}', null, true);" style="cursor: pointer"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{t[6]}}
          {% endif %}
        </td>

        <td>
          <i class="fa fa-calendar-o"></i> Registro del {{t[0]}}
          <br><span class="icon-container"><i class="fa fa-sticky-note" style="cursor:pointer;" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'nota', '{{t[2]}}', '{{t[3]}}', '{{t[4]}}', null, true);"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span>{% if t[4] %} {{ t[4] }}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
        </td>
        <td style="color: #000080">
          <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer;" onclick="setearPopUp('{{t[9]}}', '{{t[2]}}', '{{t[4]}}', '{{t[8]}}', '{{dia_hoy}}', '{{t[10]}}', '{{t[3]}}', true)"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span> {{t[5]}}{% if t[10] %} a las {{t[10]}} h{% endif %}
        </td>
        <td>
          {% if t[3] %}
                    <span class="icon-container"><a href="{{ url_for('seguimiento', telefono=t[3], nombre=t[2]) }}" style="color: inherit"><i class="fa fa-vcard"></i></a><span class="tooltip" id="tooltip-editar">Seguimiento</span></span>
          {% else %}
                    <div class="icon-container"><i class="fa fa-volume-control-phone" onclick="cambiarRegistroPopUp('o', '{{t[9]}}', 'telefono sin registrar', '{{t[2]}}', null, '', null, true);" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Agregar teléfono</div></div>
          {% endif %}
          <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; color: red;" onclick="noInteresa('{{t[2]}}', '', '{{t[8]}}', '{{t[9]}}', '{{t[3]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336;">No le interesó</span></span>
        </td>
      {% else %}
      <tr>
        <td style="margin: 0; padding: 0;">
        <span class="icon-container"><i class="fa fa-headphones"></i>
        <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer" onchange="cambiarAgenteRecordatorio(this.value, '{{t[9]}}', 'agente')">
          {% for agente in agentes %}
          <option value="{{ agente[0] }}" {% if agente[0] == current_user.fullname %}selected{% endif %}>{{ agente[0] }}</option>
          {% endfor %}
        </select>
        <span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </td>
      <td colspan="2">
        <i class="fa fa-bell"></i> RECORDATORIO {{t[13]}}
      </td>
      <td>
        <i class="fa fa-calendar-o"></i> Registro del {{t[0]}}
          {% if t[4] %}
          <br>
          <i class="fa fa-tasks"></i> {{ t[4] }}
          {% endif %}
      </td>
      <td style="color: #000080">
          <span class="icon-container"><i class="fa fa-refresh" style="cursor: pointer;" onclick="editarRecordatorio('{{t[9]}}','{{t[4]}}','{{t[5]}}','{{t[16]}}','{{t[12]}}','{{t[13]}}','{{t[15]}}')"></i><span class="tooltip" id="tooltip-editar">Reprogramar recordatorio</span></span> {{t[5]}}{% if t[10] %} a las {{t[10]}} h{% endif %}
          <br>
          {% if t[12] == 'BAJA' %}
          <i class="fa fa-angle-up"></i> BAJA IMPORTANCIA
          {% elif t[12] == 'MEDIA' %}
          <span style="color: rosybrown">
          <i class="fa fa-angle-double-up"></i> MEDIA IMPORTANCIA
          </span>
          {% elif t[12] == 'ALTA' %}
          <span style="color: orange;">
          <i class="fa fa-exclamation-triangle"></i> ALTA IMPORTANCIA
          </span>
          {% elif t[12] == 'URGENTE' %}
          <span style="color: red;">
            <i class="fa fa-exclamation-circle"></i> URGENTE
          </span>
          {% endif %}
      </td>
      <td style="color: green;">
        <span class="icon-container">
          <i class="fa fa-check" style="cursor: pointer;" onclick="cambiarAgenteRecordatorio(null, '{{t[9]}}', 'realizado')"></i>
        <span class="tooltip" id="tooltip-editar" style="background-color: green;">Marcar como REALIZADO</span></span>
      </td>
      {% endif %}
    </tr>
      <tr>
      <td colspan="6" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
    {% endfor %}
    </table>
    {% if atrasados != () %}
    {% if porvencer == () and vencidos == () and vencehoy == () %}
    <table style="width: 70%; margin: 0 auto; margin-bottom: 25px; border: 3px solid transparent;" class="animated-border">
    {% else %}
    <table style="width: 100%; margin-bottom: 25px; border: 3px solid transparent;" class="animated-border">
    {% endif %}
      <style>
        @keyframes borderAnimation {
          25% {
            border-color: red;
          }
          75% {
            border-color: orangered;
          }
        }

        table.animated-border {
          animation: borderAnimation 2s infinite;
        }
      </style>
      <tr>
        <th colspan="6" style="background: none; color: #2cbfb1;"><img src="{{ url_for('static', filename='img/reloj-pendiente.png') }}" width="20" height="20"> Tareas pendientes</th>
      </tr>
      <tr>
        <td></td>
        <th>Empresa</th>
        <th>Cliente</th>
        <th>Notas de llamada</th>
        <th>Tarea pendiente</th>
      </tr>
      {% for a in atrasados %}
      <tr>
        <td style="margin: 0; padding: 0;">
          <span class="icon-container"><i class="fa fa-headphones"></i>
            <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer" onchange="cambiarRegistro(this.value, '{{a[9]}}','agente', '{{a[2]}}', '{{a[3]}}', null, true)">
              {% for agente in agentes %}
              <option value="{{ agente[0] }}" {% if agente[0] == current_user.fullname %}selected{% endif %}>{{ agente[0] }}</option>
              {% endfor %}
            </select>
            <span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </td>
        <td style="color: #000080; text-align: center;">
          <span class="icon-container">
          <select style=" font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer; color: #000080;" onchange="cambiarRegistro(this.value, '{{a[9]}}', 'empresa', '{{a[2]}}', '{{a[3]}}', null, true)">
                <option value="{{a[1]}}" selected>{{a[1]}}</option>
            {% for empresa in empresas %}
            {% if empresa[0] != a[1] %}
                <option value="{{empresa[0]}}" style="color: black">{{empresa[0]}}</option>
            {% endif %}
            {% endfor %}
          </select>
          <span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span>
        </td>
        <td>
          <span class="icon-container"><i class="fa fa-user-circle" {% if a[3] %}onclick="cambiarRegistroPopUp('o', '{{a[9]}}', 'nombre', '{{a[2]}}', '{{a[3]}}', '{{a[2]}}', null, true);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{a[2]}}

          {% if a[3] %}
                    <br><span class="icon-container"><i class="fa fa-phone" onclick="cambiarRegistroPopUp('o', '{{a[3]}}', 'telefono', '{{a[2]}}', '{{a[3]}}', '{{a[3]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Editar teléfono</span></span> {{a[3]}}
          {% endif %}

          {% if a[1] == 'TS NETWORK CAMARAS DE SEGURIDAD' or a[1] == 'TS NETWORK INTERNET' %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'direccion', '{{a[2]}}', '{{a[3]}}', '{{a[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{a[7]}}
          {% else %}
                    {% if a[7] %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'direccion', '{{a[2]}}', '{{a[3]}}', '{{a[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{a[7]}}
                    {% endif %}
          {% endif %}

          {% if a[6] %}
                <br><span class="icon-container"><i class="fa fa-envelope" onclick="cambiarRegistroPopUp('o', '{{a[9]}}', 'email', '{{a[2]}}', '{{a[3]}}', '{{a[6]}}', null, true);" style="cursor: pointer"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{a[6]}}
          {% endif %}
        </td>

        <td>
          <i class="fa fa-calendar-o"></i> Registro del {{a[0]}}
          <br><span class="icon-container"><i class="fa fa-sticky-note" style="cursor:pointer;" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'nota', '{{a[2]}}', '{{a[3]}}', '{{a[4]}}', null, true);"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span>{% if a[4] %} {{ a[4] }}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
        </td>

        <td>
          
        {% if a[12] != None %}
        Fecha de tarea: {{a[12]}}
        <br>
        {% endif %}
        
        <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer; color: #000080" onclick="setearPopUp('{{a[9]}}', '{{a[2]}}', '{{a[4]}}', '{{a[8]}}', '{{a[14]}}', '{{a[10]}}', '{{a[3]}}', true)"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span>
        {% if a[5] %}
        <span style="color: #000080">
            {{a[5]}}
              {% if a[10] %}
                a las {{a[10]}} h
              {% endif %}
        </span>
        {% else %}
        <span style="color: red;"><img src="{{ url_for('static', filename='img/exclamation.png') }}" width="15" height="15" style="vertical-align: middle;"> No tiene ninguna tarea asignada.</span>
        {% endif %}

        <div style="color: red;"><img src="{{ url_for('static', filename='img/exclamation.png') }}" width="15" height="15" style="vertical-align: middle;"> {% if a[13] != None %}Debió realizarse {% if a[13] == 1 %}ayer.{% else %}hace {{a[13]}} días.{% endif %}{% else %}No tiene asignada ninguna fecha de tarea{% endif %}</div>

        </td>

        <td>
          {% if a[3] %}
                    <span class="icon-container"><a href="{{ url_for('seguimiento', telefono=a[3], nombre=a[2]) }}" style="color: inherit"><i class="fa fa-vcard"></i></a><span class="tooltip" id="tooltip-editar">Seguimiento</span></span>
          {% else %}
                    <div class="icon-container"><i class="fa fa-volume-control-phone" onclick="cambiarRegistroPopUp('o', '{{a[9]}}', 'telefono sin registrar', '{{a[2]}}', null, '', null, true);" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Agregar teléfono</div></div>
          {% endif %}
          <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; color: red;" onclick="noInteresa('{{a[2]}}', '', '{{a[8]}}', '{{a[9]}}', '{{a[3]}}')"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336;">No le interesó</span></span>
        </td>
      </tr>
      <tr>
      <td colspan="6" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
    
  </span>
  <span style="width: 30%; margin-bottom: 25px;">
    {% if vencehoy %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
          <th colspan="3" style="background-color: #FF5733;">
              Vencimientos de HOY
          </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for hoy in vencehoy %}
      <tr>
        <td>
            {% if hoy[0] %}
            <span style="color: red"><i class="fa fa-thumb-tack"></i> {{hoy[0]}}</span>
            {% endif %}
            {% if hoy[2] %}
            <br>
            <span><span class="icon-container"><img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;" onclick="document.getElementById('eliminar').value = '{{hoy[8]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span> {{hoy[2]}}</span>
            {% endif %}
            <br>
            <span><i class="fa fa-user-circle"></i> {{hoy[3]}}</span>
            {% if hoy[4] %}
            <br>
            <span><i class="fa fa-phone"></i> {{hoy[4]}}</span>
            {% endif %}
        </td>
        <td style="font-size: 22px; text-align: center; color: #000080">
          <span><span class="icon-container"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle; cursor: pointer;" onclick="document.getElementById('{{hoy[0]}}{{hoy[8]}}').removeAttribute('hidden');"><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span> {{hoy[1]}}</span>
          <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{hoy[0]}}{{hoy[8]}}" hidden>
            <select id="registrar_pago_forma{{hoy[0]}}{{hoy[8]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
              <option value="EFECTIVO">Efectivo</option>
              <option value="PAYPAL">PayPal</option>
              <option value="CASH APP">Cash App</option>
              <option value="CHEQUE">Cheque</option>
              <option value="ZELLE">Zelle</option>
              <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
            <br>
            <input type="date" id="registrar_pago_fecha{{hoy[0]}}{{hoy[8]}}" style="font-family: 'Rubik', sans-serif; font-size: 14px; width: 100%; height: auto;" value="{{dia_hoy}}">
            <br>
            <button class="btn secondary" style="vertical-align: middle; padding: 7px; font-size: 14px;" type="button" onclick="registrarPago('hoja', '{{hoy[9]}}', '{{hoy[0]}}', '{{hoy[2]}}', '{{hoy[3]}}', '{{hoy[4]}}', '{{dia_hoy}}', document.getElementById('registrar_pago_fecha{{hoy[0]}}{{hoy[8]}}').value, document.getElementById('registrar_pago_forma{{hoy[0]}}{{hoy[8]}}').value, '{{hoy[1]}}', null)"><i class="fa fa-check"></i> Registrar pago</button>
          </div>
        </td>
        <td>
          <span><i class="fa fa-industry"></i> {{hoy[9]}}</span>
          {% if hoy[5] %}
          <br>
          <span><i class="fa fa-briefcase"></i> {{hoy[5]}}</span>
          {% endif %}
          {% if hoy[6] %}
          <br>
          <span><i class="fa fa-plug"></i> {{hoy[6]}}</span>
          {% endif %}
          {% if hoy[7] %}
          <br>
          <span><i class="fa fa-sticky-note"></i> {{hoy[7]}}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if vencidos %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
        <th style="background-color: #C70039;" colspan="4">
          Pagos vencidos
        </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Vencimiento</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for venc in vencidos %}
      <tr>
        <td>
          {% if venc[0] %}
          <span style="color: red"><i class="fa fa-thumb-tack"></i> {{venc[0]}}</span>
          {% endif %}
          {% if venc[3] %}
          <br>
          <span><span class="icon-container"><img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;" onclick="document.getElementById('eliminar').value = '{{venc[10]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span> {{venc[3]}}</span>
          {% endif %}
          <br>
          <span><i class="fa fa-user-circle"></i> {{venc[4]}}</span>
          {% if venc[5] %}
          <br>
          <span><i class="fa fa-phone"></i> {{venc[5]}}</span>
          {% endif %}
      </td>
      <td>
        <span style="color: red"><i class="fa fa-calendar-times-o"></i> {{venc[12]}}</span>
        <br>
        <span>{% if venc[9] == 1 %}Ayer{% else %}Hace {{venc[9]}} días{% endif %}</span>
      </td>
      <td style="font-size: 22px; text-align: center; color: #000080">
        <span><span class="icon-container"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle; cursor: pointer;" onclick="document.getElementById('{{venc[10]}}{{venc[0]}}').removeAttribute('hidden');"><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span> {{venc[2]}}</span>
        <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{venc[10]}}{{venc[0]}}" hidden>
          <select id="registrar_pago_forma_vencido{{venc[0]}}{{venc[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
            <option value="EFECTIVO">Efectivo</option>
            <option value="PAYPAL">PayPal</option>
            <option value="CASH APP">Cash App</option>
            <option value="CHEQUE">Cheque</option>
            <option value="ZELLE">Zelle</option>
            <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
          </select>
          <br>
          <input type="date" id="registrar_pago_fecha_vencido{{venc[0]}}{{venc[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 14px; width: 100%; height: auto;" value="{{dia_hoy}}">
          <br>
          <button class="btn secondary" style="vertical-align: middle; padding: 7px; font-size: 14px;" type="button" onclick="registrarPago('hoja', '{{venc[11]}}', '{{venc[0]}}', '{{venc[3]}}', '{{venc[4]}}', '{{venc[5]}}', '{{venc[1]}}', document.getElementById('registrar_pago_fecha_vencido{{venc[0]}}{{venc[10]}}').value, document.getElementById('registrar_pago_forma_vencido{{venc[0]}}{{venc[10]}}').value, '{{venc[2]}}', null)"><i class="fa fa-check"></i> Registrar pago</button>
        </div>
      </td>
      <td>
        <span><i class="fa fa-industry"></i> {{venc[11]}}</span>
        {% if venc[6] %}
        <br>
        <span><i class="fa fa-briefcase"></i> {{venc[6]}}</span>
        {% endif %}
        {% if venc[7] %}
        <br>
        <span><i class="fa fa-plug"></i> {{venc[7]}}</span>
        {% endif %}
        {% if venc[8] %}
        <br>
        <span><i class="fa fa-sticky-note"></i> {{venc[8]}}</span>
        {% endif %}
      </td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if porvencer %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
        <th style="background-color: #FFC300" colspan="4">
          Próximos vencimientos
        </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Vencimiento</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for prox in porvencer %}
      <tr>
        <td>
          {% if prox[0] %}
          <span style="color: red"><i class="fa fa-thumb-tack"></i> {{prox[0]}}</span>
          {% endif %}
          {% if prox[3] %}
          <br>
          <span><span class="icon-container"><img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;" onclick="document.getElementById('eliminar').value = '{{prox[10]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span> {{prox[3]}}</span>
          {% endif %}
          <br>
          <span><i class="fa fa-user-circle"></i> {{prox[4]}}</span>
          {% if prox[5] %}
          <br>
          <span><i class="fa fa-phone"></i> {{prox[5]}}</span>
          {% endif %}
        </td>
        <td>
          <span style="color: red"><i class="fa fa-calendar-times-o"></i> {{prox[12]}}</span>
          <br>
          <span>{% if prox[9] == 1 %}Mañana{% else %}En {{prox[9]}} días{% endif %}</span>
        </td>
        <td style="font-size: 22px; text-align: center; color: #000080">
          <span><span class="icon-container"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle; cursor: pointer;" onclick="document.getElementById('{{prox[0]}}{{prox[10]}}').removeAttribute('hidden');"><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span> {{prox[2]}}</span>
          <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{prox[0]}}{{prox[10]}}" hidden>
            <select id="registrar_pago_forma_prox{{prox[0]}}{{prox[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
              <option value="EFECTIVO">Efectivo</option>
              <option value="PAYPAL">PayPal</option>
              <option value="CASH APP">Cash App</option>
              <option value="CHEQUE">Cheque</option>
              <option value="ZELLE">Zelle</option>
              <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
            <br>
            <input type="date" id="registrar_pago_fecha_prox{{prox[0]}}{{prox[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 14px; width: 100%; height: auto;" value="{{dia_hoy}}">
            <br>
            <button class="btn secondary" style="vertical-align: middle; padding: 7px; font-size: 14px;" type="button" onclick="registrarPago('hoja', '{{prox[11]}}', '{{prox[0]}}', '{{prox[3]}}', '{{prox[4]}}', '{{prox[5]}}', '{{prox[1]}}', document.getElementById('registrar_pago_fecha_prox{{prox[0]}}{{prox[10]}}').value, document.getElementById('registrar_pago_forma_prox{{prox[0]}}{{prox[10]}}').value, '{{prox[2]}}', null)"><i class="fa fa-check"></i> Registrar pago</button>
          </div>
        </td>
        <td>
          <span><i class="fa fa-industry"></i> {{prox[11]}}</span>
          {% if prox[6] %}
          <br>
          <span><i class="fa fa-briefcase"></i> {{prox[6]}}</span>
          {% endif %}
          {% if prox[7] %}
          <br>
          <span><i class="fa fa-plug"></i> {{prox[7]}}</span>
          {% endif %}
          {% if prox[8] %}
          <br>
          <span><i class="fa fa-sticky-note"></i> {{prox[8]}}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </span>
  </div>
  <form method="POST" name="formulario_actualizacion" id="formulario_actualizacion">
    <input type="hidden" name="menuempresa" id="menuempresa">
    <input type="hidden" id="eliminar" name="eliminar">
    <input type="hidden" name="redireccion" value="dashboard">
  </form>

  <div id="popupModal" class="popup-modal">
    <span class="popup-close">&times;</span>
    <p>Nombre de la empresa:</p>
    <div style="display: flex">
    <input type="text" id="inputData" style="text-transform: uppercase; color:#04AA6D; margin-right: 10px; width: 100%;">
    <button id="submitBtn" class="btn success">Enviar</button>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}
<script>
  function confirmarEliminarEmpresa(empresa){
    const confirmacion = confirm('¿Estás seguro de eliminar esta empresa? Los registros, los pagos y las hojas de "'+empresa+'" no se eliminarán.')
    if (confirmacion){
      modificarEmpresa('eliminar', empresa)
    }
  }
  function modificarEmpresa(accion, empresa, visible){
    let datonuevo;
    if (accion == 'editar'){
      datonuevo = prompt('Nuevo nombre:', empresa);
    } else if (accion == 'visible'){
      datonuevo = visible;
    }
  var formData = {
    'accion': accion,
    'empresa': empresa,
    'datonuevo': datonuevo
  };

  $.ajax({
      type: 'POST',
      url: '/empresas/modificar',
      data: formData,
      dataType: 'json',
      encode: true
  })
  .done(function(data){
      if(data.status === 'success'){
          location.reload();
      }else{
          alert('Error al modificar registro.')
      }
  })

  .fail(function(error) {
    alert("Error en la solicitud.");
    console.error('Error: ', error);
  });
}

  function mostrarEditarEmpresas(){
    const spans = document.querySelectorAll('.span-empresa, .btn-empresa-hidden')
    spans.forEach(span => {
      span.removeAttribute('hidden');
    });
  }
        // Obtener los elementos
        var popupModal = document.getElementById("popupModal");
        var openPopupBtn = document.getElementById("openPopupBtn");
        var closeBtn = document.getElementsByClassName("popup-close")[0];
        var submitBtn = document.getElementById("submitBtn");
        var inputData = document.getElementById("inputData");

        // Cuando el usuario haga clic en el botón, abrir la ventana emergente
        openPopupBtn.onclick = function(event) {
            // Obtener la posición del botón
            var rect = openPopupBtn.getBoundingClientRect();
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            var scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

            // Ajustar la posición del popup
            popupModal.style.left = rect.left + scrollLeft + "px";
            popupModal.style.top = rect.top + scrollTop + openPopupBtn.offsetHeight + "px";
            // Mostrar el popup con animación
            popupModal.classList.add("show");
            popupModal.style.display = "block";
            inputData.focus()
        }

        // Cuando el usuario haga clic en el botón de cerrar (x), cerrar la ventana emergente
        closeBtn.onclick = function() {
            popupModal.classList.remove("show");
            setTimeout(function() {
                popupModal.style.display = "none";
            }, 300); // Coincide con la duración de la transición
        }

        // Manejar el evento de enviar el dato
        submitBtn.onclick = function() {
          /*
            var dato = inputData.value;
            alert("Dato ingresado: " + dato);
            popupModal.classList.remove("show");
            setTimeout(function() {
                popupModal.style.display = "none";
            }, 300); // Coincide con la duración de la transición
          */
            nuevoRegistro('/empresas/nueva', document.getElementById('inputData').value)
        }

        // Manejar la entrada para evitar el carácter "_"
        //inputData.addEventListener('input', function() {
        //    this.value = this.value.replace(/_/g, '');
        //});
</script>
{% endblock %}