{% extends 'index.html' %}

{% block titulo %}
Administración Los Andes | Inicio
{% endblock %}

{% block body %}
<div id="main-content">
  <h1>Bienvenido {{ current_user.fullname }} al sistema.</h1>
  <p><-- Recuerda nuestro dashboard para selecionar una opción en el menú lateral.</p>
  {% if porvencer == () and vencidos == () and vencehoy == () %}
  <div style="margin-bottom: 25px;">
  {% else %}
  <div style="display: flex; margin-bottom: 25px;">
  {% endif %}
  <span style="width: 70%;">
    {% if porvencer == () and vencidos == () and vencehoy == () %}
    <table style="width: 70%; margin: 0 auto; margin-bottom: 25px; {% if pendiente == () %}box-shadow: none; padding: 0;{% endif %}">
    {% else %}
    <table style="width: 100%; margin-bottom: 25px; {% if pendiente == () %}box-shadow: none; padding: 0;{% endif %}">
    {% endif %}
    {% if pendiente != () %}
    <tr>
      <th style="color: #008080; font-size: 20px; background: none; text-align: center;" colspan="5">Tareas para HOY • {{ nombre_dia_hoy }}</th>
    </tr>
      <tr>
        <td></td>
        <th>Empresa</th>
        <th>Cliente</th>
        <th>Notas de llamada</th>
        <th>Tarea</th>
      </tr>
    {% else %}
    <tr>
      <th style="color: #00ba00; font-size: 22px; background: none; text-align: center;"><img src="{{ url_for('static', filename='img/cheque.png') }}" width="20" height="20"> No tiene tareas para hoy • {{ nombre_dia_hoy }}</th>
    </tr>
    {% endif %}
    {% for t in pendiente %}
      <tr>
        <td style="margin: 0; padding: 0;">
          <span class="icon-container"><i class="fa fa-headphones"></i>
          <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer" onchange="cambiarRegistro(this.value, '{{t[9]}}','agente', '{{t[2]}}', '{t[3]}', null, true)">
            {% for agente in agentes %}
            <option value="{{ agente[0] }}" {% if agente[0] == current_user.fullname %}selected{% endif %}>{{ agente[0] }}</option>
            {% endfor %}
          </select>
          <span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </td>
        <td style="color: #008080; text-align: center;">
          <span class="icon-container">
          <select style=" font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer; color: #008080;" onchange="cambiarRegistro(this.value, '{{t[9]}}', 'empresa', '{{t[2]}}', '{{t[3]}}', null, true)">
                <option value="{{t[1]}}" selected>{{t[1]}}</option>
            {% for empresa in empresas %}
            {% if empresa[0] != t[1] %}
                <option value="{{empresa[0]}}" style="color: black">{{empresa[0]}}</option>
            {% endif %}
            {% endfor %}
          </select>
          <span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span>
        </td>
        <td>
          <span class="icon-container"><i class="fa fa-user-circle" {% if t[3] %}onclick="cambiarRegistroPopUp('o', '{{t[9]}}', 'nombre', '{{t[2]}}', '{{t[3]}}', '{{t[2]}}', null, true);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{ t[2] }}

          {% if t[3] %}
                    <br><span class="icon-container"><i class="fa fa-phone" onclick="cambiarRegistroPopUp('o', '{{t[3]}}', 'telefono', '{{t[2]}}', '{{t[3]}}', '{{t[3]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Editar teléfono</span></span> {{ t[3] }}
          {% endif %}

          {% if t[1] == 'TS NETWORK CAMARAS DE SEGURIDAD' or t[1] == 'TS NETWORK INTERNET' %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'direccion', '{{t[2]}}', '{{t[3]}}', '{{t[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{t[7]}}
          {% else %}
                    {% if t[7] %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'direccion', '{{t[2]}}', '{{t[3]}}', '{{t[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{t[7]}}
                    {% endif %}
          {% endif %}

          {% if t[6] %}
                <br><span class="icon-container"><i class="fa fa-envelope" onclick="cambiarRegistroPopUp('o', '{{t[9]}}', 'email', '{{t[2]}}', '{{t[3]}}', '{{t[6]}}', null, true);" style="cursor: pointer"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{t[6]}}
          {% endif %}
        </td>

        <td>
          <i class="fa fa-calendar-o"></i> Registro del {{t[0]}}
          <br><span class="icon-container"><i class="fa fa-sticky-note" style="cursor:pointer;" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'nota', '{{t[2]}}', '{{t[3]}}', '{{t[4]}}', null, true);"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span>{% if t[4] %} {{ t[4] }}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
        </td>
        <td style="color: #008080">
          <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer;" onclick="setearPopUp('{{t[9]}}', '{{t[2]}}', '{{t[4]}}', '{{t[8]}}', '{{dia_hoy}}', '{{t[10]}}', '{{t[3]}}', true)"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span> {{t[5]}}{% if t[10] %} a las {{t[10]}} h{% endif %}
        </td>
        <td>
          {% if t[3] %}
                    <span class="icon-container"><a href="{{ url_for('seguimiento', telefono=t[3], nombre=t[2]) }}" style="color: inherit"><i class="fa fa-vcard"></i></a><span class="tooltip" id="tooltip-editar">Seguimiento</span></span>
          {% else %}
                    <div class="icon-container"><i class="fa fa-volume-control-phone" onclick="cambiarRegistroPopUp('o', '{{t[3]}}', 'telefono sin registrar', '{{t[2]}}', null, '', null, true);" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Agregar teléfono</div></div>
          {% endif %}
          <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; color: red;" onclick="cambiarRegistroPopUp('a', '{{t[9]}}', 'razon de desinteres', '{{t[2]}}', '{{t[3]}}', '', null, true);"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336;">No le interesó</span></span>
        </td>
      </tr>
      <tr>
      <td colspan="6" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
    {% endfor %}
    </table>
    {% if atrasados != () %}
    {% if porvencer == () and vencidos == () and vencehoy == () %}
    <table style="width: 70%; margin: 0 auto; margin-bottom: 25px; border: 3px solid transparent;" class="animated-border">
    {% else %}
    <table style="width: 100%; margin-bottom: 25px; border: 3px solid transparent;" class="animated-border">
    {% endif %}
      <style>
        @keyframes borderAnimation {
          25% {
            border-color: red;
          }
          75% {
            border-color: orangered;
          }
        }

        table.animated-border {
          animation: borderAnimation 2s infinite;
        }
      </style>
      <tr>
        <th colspan="6" style="background: none; color: #2cbfb1;"><img src="{{ url_for('static', filename='img/reloj-pendiente.png') }}" width="20" height="20" style="vertical-align: middle;"> Tareas pendientes</th>
      </tr>
      <tr>
        <td></td>
        <th>Empresa</th>
        <th>Cliente</th>
        <th>Notas de llamada</th>
        <th>Tarea pendiente</th>
      </tr>
      {% for a in atrasados %}
      <tr>
        <td style="margin: 0; padding: 0;">
          <span class="icon-container"><i class="fa fa-headphones"></i>
            <select style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer" onchange="cambiarRegistro(this.value, '{{a[9]}}','agente', '{{a[2]}}', '{a[3]}', null, true)">
              {% for agente in agentes %}
              <option value="{{ agente[0] }}" {% if agente[0] == current_user.fullname %}selected{% endif %}>{{ agente[0] }}</option>
              {% endfor %}
            </select>
            <span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </td>
        <td style="color: #008080; text-align: center;">
          <span class="icon-container">
          <select style=" font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer; color: #008080;" onchange="cambiarRegistro(this.value, '{{a[9]}}', 'empresa', '{{a[2]}}', '{{a[3]}}', null, true)">
                <option value="{{a[1]}}" selected>{{a[1]}}</option>
            {% for empresa in empresas %}
            {% if empresa[0] != a[1] %}
                <option value="{{empresa[0]}}" style="color: black">{{empresa[0]}}</option>
            {% endif %}
            {% endfor %}
          </select>
          <span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span>
        </td>
        <td>
          <span class="icon-container"><i class="fa fa-user-circle" {% if a[3] %}onclick="cambiarRegistroPopUp('o', '{{a[9]}}', 'nombre', '{{a[2]}}', '{{a[3]}}', '{{a[2]}}', null, true);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{a[2]}}

          {% if a[3] %}
                    <br><span class="icon-container"><i class="fa fa-phone" onclick="cambiarRegistroPopUp('o', '{{a[3]}}', 'telefono', '{{a[2]}}', '{{a[3]}}', '{{a[3]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Editar teléfono</span></span> {{a[3]}}
          {% endif %}

          {% if a[1] == 'TS NETWORK CAMARAS DE SEGURIDAD' or a[1] == 'TS NETWORK INTERNET' %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'direccion', '{{a[2]}}', '{{a[3]}}', '{{a[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{a[7]}}
          {% else %}
                    {% if a[7] %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'direccion', '{{a[2]}}', '{{a[3]}}', '{{a[7]}}', null, true);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{a[7]}}
                    {% endif %}
          {% endif %}

          {% if a[6] %}
                <br><span class="icon-container"><i class="fa fa-envelope" onclick="cambiarRegistroPopUp('o', '{{a[9]}}', 'email', '{{a[2]}}', '{{a[3]}}', '{{a[6]}}', null, true);" style="cursor: pointer"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{a[6]}}
          {% endif %}
        </td>

        <td>
          <i class="fa fa-calendar-o"></i> Registro del {{a[0]}}
          <br><span class="icon-container"><i class="fa fa-sticky-note" style="cursor:pointer;" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'nota', '{{a[2]}}', '{{a[3]}}', '{{a[4]}}', null, true);"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span>{% if a[4] %} {{ a[4] }}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
        </td>

        <td>
          
        {% if a[12] != None %}
        Fecha de tarea: {{a[12]}}
        <br>
        {% endif %}
        
        <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer; color: #008080" onclick="setearPopUp('{{a[9]}}', '{{a[2]}}', '{{a[4]}}', '{{a[8]}}', '{{a[14]}}', '{{a[10]}}', '{{a[3]}}', true)"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span>
        {% if a[5] %}
        <span style="color: #008080">
            {{a[5]}}
              {% if a[10] %}
                a las {{a[10]}} h
              {% endif %}
        </span>
        {% else %}
        <span style="color: red;"><img src="{{ url_for('static', filename='img/exclamation.png') }}" width="15" height="15" style="vertical-align: middle;"> No tiene ninguna tarea asignada.</span>
        {% endif %}

        <div style="color: red;"><img src="{{ url_for('static', filename='img/exclamation.png') }}" width="15" height="15" style="vertical-align: middle;"> {% if a[13] != None %}Debió realizarse {% if a[13] == 1 %}ayer.{% else %}hace {{a[13]}} días.{% endif %}{% else %}No tiene asignada ninguna fecha de tarea{% endif %}</div>

        </td>

        <td>
          {% if a[3] %}
                    <span class="icon-container"><a href="{{ url_for('seguimiento', telefono=a[3], nombre=a[2]) }}" style="color: inherit"><i class="fa fa-vcard"></i></a><span class="tooltip" id="tooltip-editar">Seguimiento</span></span>
          {% else %}
                    <div class="icon-container"><i class="fa fa-volume-control-phone" onclick="cambiarRegistroPopUp('o', '{{a[3]}}', 'telefono sin registrar', '{{a[2]}}', null, '', null, true);" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Agregar teléfono</div></div>
          {% endif %}
          <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; color: red;" onclick="cambiarRegistroPopUp('a', '{{a[9]}}', 'razon de desinteres', '{{a[2]}}', '{{a[3]}}', '', null, true);"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336;">No le interesó</span></span>
        </td>
      </tr>
      <tr>
      <td colspan="6" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
  </span>
  <span style="width: 30%; margin-bottom: 25px;">
    {% if vencehoy != () %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
          <th colspan="3" style="background-color: orange;">
              Vencimientos de HOY
          </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for hoy in vencehoy %}
      <tr>
        <td>
            <img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span style="color: red"> {{hoy[0]}}</span>
            <br>
            <span class="icon-container">
            <img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;" onclick="document.getElementById('eliminar').value = '{{hoy[8]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span><span> {{hoy[2]}}</span>
            <br>
            <img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[3]}}</span>
            {% if hoy[4] %}
            <br>
            <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[4]}}</span>
            {% endif %}
        </td>
        <td style="font-size: 22px; text-align: center; color: #008080">
          <span class="icon-container">
          <button type="button" class="btn success" style="padding: 0; margin: 0; vertical-align: middle; background: none;" onclick="document.getElementById('{{hoy[0]}}{{hoy[8]}}').removeAttribute('hidden');"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle;"></button><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span><span> {{hoy[1]}}</span>
          <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{hoy[0]}}{{hoy[8]}}" hidden>
            <select id="registrar_pago_forma{{hoy[0]}}{{hoy[8]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
              <option value="EFECTIVO">Efectivo</option>
              <option value="PAYPAL">PayPal</option>
              <option value="CASH APP">Cash App</option>
              <option value="CHEQUE">Cheque</option>
              <option value="ZELLE">Zelle</option>
              <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
            <br>
            <input type="date" id="registrar_pago_fecha{{hoy[0]}}{{hoy[8]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;" value="{{dia_hoy}}">
            <br>
            <button class="btn secondary" style="vertical-align: middle; padding: 7px; margin-top: 10px; font-size: 14px;" type="button" onclick="var xhr = new XMLHttpRequest(); xhr.open('POST', '/pagos/registrar_pago', true); xhr.setRequestHeader('Content-Type', 'application/json'); xhr.send(JSON.stringify({pago: ['{{hoy[9]}}','{{hoy[0]}}','{{hoy[2]}}','{{hoy[3]}}','{{hoy[4]}}', '{{dia_hoy}}', document.getElementById('registrar_pago_fecha{{hoy[0]}}{{hoy[8]}}').value, document.getElementById('registrar_pago_forma{{hoy[0]}}{{hoy[8]}}').value,'{{hoy[1]}}']})); registroListo('El pago fue registrado con éxito!'); window.location.replace('/dashboard');"><img src="{{ url_for('static', filename='img/check-to-slot-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; vertical-align: middle;"> Registrar pago</button>
          </div>
        </td>
        <td>
          <img src="{{ url_for('static', filename='img/industry-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[9]}}</span>
          <br>
          <img src="{{ url_for('static', filename='img/briefcase-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[5]}}</span>
          {% if hoy[6] %}
          <br>
          <img src="{{ url_for('static', filename='img/network-wired-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[6]}}</span>
          {% endif %}
          {% if hoy[7] %}
          <br>
          <img src="{{ url_for('static', filename='img/note-sticky-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{hoy[7]}}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% if vencidos != () %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
        <th style="background-color: red;" colspan="4">
          Pagos vencidos
        </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Vencimiento</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for venc in vencidos %}
      <tr>
        <td>
          <img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span style="color: red"> {{venc[0]}}</span>
          <br>
          <span class="icon-container">
          <img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;"  onclick="document.getElementById('eliminar').value = '{{venc[10]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span> {{venc[3]}}</span>
          <br>
          <img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[4]}}</span>
          {% if venc[5] %}
          <br>
          <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[5]}}</span>
          {% endif %}
      </td>
      <td style="color: red;">
        <img src="{{ url_for('static', filename='img/calendar-xmark-regular.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[1]}}</span>
        <br>
        <span style="color: black">{% if venc[9] == 1 %}Ayer{% else %}Hace {{venc[9]}} días{% endif %}</span>
      </td>
      <td style="font-size: 22px; text-align: center; color: #008080">
        <span class="icon-container">
          <button type="button" class="btn success" style="padding: 0; margin: 0; vertical-align: middle; background: none;" onclick="document.getElementById('{{venc[10]}}{{venc[0]}}').removeAttribute('hidden');"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle;"></button><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span><span> {{venc[2]}}</span>
          <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{venc[10]}}{{venc[0]}}" hidden>
            <select id="registrar_pago_forma_vencido{{venc[0]}}{{venc[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
              <option value="EFECTIVO">Efectivo</option>
              <option value="PAYPAL">PayPal</option>
              <option value="CASH APP">Cash App</option>
              <option value="CHEQUE">Cheque</option>
              <option value="ZELLE">Zelle</option>
              <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
            <br>
            <input type="date" id="registrar_pago_fecha_vencido{{venc[0]}}{{venc[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;" value="{{dia_hoy}}">
            <br>
            <button class="btn secondary" style="vertical-align: middle; padding: 7px; margin-top: 10px; font-size: 14px;" type="button" onclick="var xhr = new XMLHttpRequest(); xhr.open('POST', '/pagos/registrar_pago', true); xhr.setRequestHeader('Content-Type', 'application/json'); xhr.send(JSON.stringify({pago: ['{{venc[11]}}','{{venc[0]}}','{{venc[3]}}','{{venc[4]}}','{{venc[5]}}', '{{venc[1]}}', document.getElementById('registrar_pago_fecha_vencido{{venc[0]}}{{venc[10]}}').value, document.getElementById('registrar_pago_forma_vencido{{venc[0]}}{{venc[10]}}').value, '{{venc[2]}}']})); registroListo('El pago fue registrado con éxito!'); window.location.replace('/dashboard');"><img src="{{ url_for('static', filename='img/check-to-slot-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; vertical-align: middle;"> Registrar pago</button>
          </div>
      </td>
      <td>
        <img src="{{ url_for('static', filename='img/industry-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[11]}}</span>
        <br>
        <img src="{{ url_for('static', filename='img/briefcase-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[6]}}</span>
        {% if venc[7] %}
        <br>
        <img src="{{ url_for('static', filename='img/network-wired-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[7]}}</span>
        {% endif %}
        {% if venc[8] %}
        <br>
        <img src="{{ url_for('static', filename='img/note-sticky-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{venc[8]}}</span>
        {% endif %}
      </td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% if porvencer != () %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 20px;">
      <tr>
        <th style="background-color: #5DADE2;" colspan="4">
          Próximos vencimientos
        </th>
      </tr>
      <tr>
        <th>Datos</th>
        <th>Vencimiento</th>
        <th>Monto</th>
        <th>Servicio</th>
      </tr>
      {% for prox in porvencer %}
      <tr>
        <td>
          <img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span style="color: red"> {{prox[0]}}</span>
          <br>
          <span class="icon-container">
          <img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; cursor: pointer;" onclick="document.getElementById('eliminar').value = '{{prox[10]}}'; document.formulario_actualizacion.action='/hoja_de_inspeccion'; document.formulario_actualizacion.submit();"><span><span class="tooltip" id="tooltip-editar">Ir a la hoja</span></span> {{prox[3]}}</span>
          <br>
          <img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[4]}}</span>
          {% if prox[5] %}
          <br>
          <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[5]}}</span>
          {% endif %}
      </td>
      <td style="color: red;">
        <img src="{{ url_for('static', filename='img/calendar-xmark-regular.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[1]}}</span>
        <br>
        <span style="color: black">{% if prox[9] == 1 %}Mañana{% else %}En {{prox[9]}} días{% endif %}</span>
      </td>
      <td style="font-size: 22px; text-align: center; color: #008080">
        <span class="icon-container">
          <button type="button" class="btn success" style="padding: 0; margin: 0; vertical-align: middle; background: none;" onclick="document.getElementById('{{prox[0]}}{{prox[10]}}').removeAttribute('hidden');"><img src="{{ url_for('static', filename='img/money-management.png') }}" width="30" height="30" style="margin: 0; padding: 0; vertical-align: middle;"></button><span class="tooltip" id="tooltip-editar" style="background-color: #04AA6D;">Registrar pago</span></span><span><span> {{prox[2]}}</span>
          <div style="padding: 0; margin-top: 7px; margin-bottom: 7px;" id="{{prox[0]}}{{prox[10]}}" hidden>
            <select id="registrar_pago_forma_prox{{prox[0]}}{{prox[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
              <option value="EFECTIVO">Efectivo</option>
              <option value="PAYPAL">PayPal</option>
              <option value="CASH APP">Cash App</option>
              <option value="CHEQUE">Cheque</option>
              <option value="ZELLE">Zelle</option>
              <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
            <br>
            <input type="date" id="registrar_pago_fecha_prox{{prox[0]}}{{prox[10]}}" style="font-family: 'Rubik', sans-serif; font-size: 16px;" value="{{dia_hoy}}">
            <br>
            <button class="btn secondary" style="vertical-align: middle; padding: 7px; margin-top: 10px; font-size: 14px;" type="button" onclick="var xhr = new XMLHttpRequest(); xhr.open('POST', '/pagos/registrar_pago', true); xhr.setRequestHeader('Content-Type', 'application/json'); xhr.send(JSON.stringify({pago: ['{{prox[11]}}','{{prox[0]}}','{{prox[3]}}','{{prox[4]}}','{{prox[5]}}', '{{prox[1]}}', document.getElementById('registrar_pago_fecha_prox{{prox[0]}}{{prox[10]}}').value, document.getElementById('registrar_pago_forma_prox{{prox[0]}}{{prox[10]}}').value, '{{prox[2]}}']})); registroListo('El pago fue registrado con éxito!'); window.location.replace('/dashboard');"><img src="{{ url_for('static', filename='img/check-to-slot-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0; vertical-align: middle;"> Registrar pago</button>
          </div>
      </td>
      <td>
        <img src="{{ url_for('static', filename='img/industry-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[11]}}</span>
        <br>
        <img src="{{ url_for('static', filename='img/briefcase-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[6]}}</span>
        {% if prox[7] %}
        <br>
        <img src="{{ url_for('static', filename='img/network-wired-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[7]}}</span>
        {% endif %}
        {% if prox[8] %}
        <br>
        <img src="{{ url_for('static', filename='img/note-sticky-solid.svg') }}" width="15" height="15" style="margin: 0; padding: 0;"><span> {{prox[8]}}</span>
        {% endif %}
      </td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #BDBDBD;"></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </span>
  </div>
  {% for i in tablas %} 
  <a href="{{ url_for('abrirMenu', empresa=i[0]) }}" style="background: none; border: none; font-size: 26px; font-family: 'Rubik', sans-serif;;"><div style="font-size: 26px; text-align: center; max-width: 200px;" class="btn_imagen">{{ i[0] }}
    {% if i[1] != None %}
    <br>
    <img src="{{ url_for('mostrar_logo', cliente=i[0]) }}" alt="El formato de imagen no pudo ser procesado" style="width: 50px; height: 50px; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;">
    {% endif %}
    <!--
    <br>
    <button type="button" onclick="document.formulario.action='/menu/preguntasfrecuentes'; document.getElementById('menuempresa').value = '{{ i[0] }}'; document.formulario.submit();" style="font-size: 14px; background-color: #C39BD3; color: white; font-family: 'Rubik', sans-serif; border-radius: 5px;">Preguntas frecuentes</button>
    <button type="button" onclick="document.formulario.action='/menu'; document.getElementById('menuempresa').value = '{{ i[0] }}'; document.formulario.submit();" style="font-size: 14px; background-color: #85C1E9; color: white; font-family: 'Rubik', sans-serif; border-radius: 5px;">Registrar cotización</button>
    -->
  </div></a>
  {% endfor %}
  <a href="{{ url_for('altaCliente') }}"><div style="font-size: 26px;" class="button_slide_right slide_right">+ Nuevo</div></a>
  <form method="POST" name="formulario_actualizacion" id="formulario_actualizacion">
    <input type="hidden" name="menuempresa" id="menuempresa">
    <input type="hidden" id="eliminar" name="eliminar">
    <input type="hidden" name="redireccion" value="dashboard">
  </form>
</div>
{% endblock %}