{% extends 'error.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error404-style.css')}}">
{% endblock %}

{% block titulo %}
Error 404 | Página no encontrada
{% endblock %}

{% block body %}
<body>
<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x1_5"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
<div class='c'>
  <div class='_404'>404</div>
  <hr>
  <div class='_1'>ERROR</div>
  <div class='_2'>PÁGINA NO ENCONTRADA</div>
  <a class='btn' href="{{ url_for('logout') }}">REGRESAR AL INICIO</a>
</div>
</body>
{% endblock %}