<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/mount_icon.ico')}}">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
    {% block css %}{% endblock %}
    <!--TÍTULO-->
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body onload="toggleSidebar('-0px')" style="background: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover;">
  <div id="sidebar">
    <ul>
      <a href="{{ url_for('dashboard') }}" style="text-decoration:none"><li>Inicio</li></a>
      {% if current_user.rol == 'admin' %}
      <a href="{{ url_for('usuarios') }}" style="text-decoration:none"><li>Usuarios</li></a>
      {% endif %}
      <a href="{{ url_for('clientes') }}" style="text-decoration:none"><li>Clientes</li><a>
      <a href="{{ url_for('pagos') }}" style="text-decoration: none;"><li>Pagos</li></a>
      <!-- <a href="{{ url_for('preguntas') }}" style="text-decoration:none"><li>Cotizaciones pendientes</li></a> -->
      <!-- <a href="{{ url_for('enviadas') }}" style="text-decoration:none"><li>Cotizaciones enviadas</li></a> -->
      <a href="{{ url_for('registros') }}" style="text-decoration:none"><li>Registros</li></a>
      <a href="{{ url_for('movimientos') }}" style="text-decoration:none"><li>Movimientos</li></a>
      <a href="{{ url_for('impulsos')}}" style="text-decoration:none"><li>Impulsos</li></a>
      <!-- <a href="{{ url_for('tareas') }}" style="text-decoration: None;"><li style="color: orange;">Tareas</li></a> -->
      <a href="{{ url_for('planes') }}" style="text-decoration: None;"><li style="color: orange;">Planes</li></a>
    </ul>
  </div>
  <button id="toggle-btn" onclick="toggleSidebar('-250px')">☰</button>
  <!--BODY-->
  {% block body %}
  {% endblock %}
  <div id="myModal" class="modal">
    <div class="modal-content" style="border-radius: 15px;">
        <input type="hidden" id="m_nombre">
        <input type="hidden" id="m_telefono">
        <input type="hidden" id="m_id">
        <span class="close" onclick="document.getElementById('myModal').style.display = 'none';">&times;</span>
        <h3 style="padding: 0; margin: 0;"><img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="22" height="22" style="vertical-align: top; margin-right: 4px;"><label id="m_cliente"></label></h3>
        <p style="color: #008080">Notas de llamada:
        <textarea id="m_notas" rows="10" style="font-family: 'Rubik', sans-serif; font-size: 14px; color: black; margin: 0 auto; text-transform: uppercase;"></textarea>
        </p>
        <p style="color: #008080">Tarea
        <br>
        <select id="m_tareas" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
            {% for t in tareas %}
            <option value="{{t[0]}}">{% if t[1] != '' %}{{t[1]}}{% else %}SIN TAREA{% endif %}</option>
            {% endfor %}
        </select>
        </p>
        <p style="color: #008080">
        Fecha de tarea
        <input type="text" name="appointment" id="calendario-emergente" onclick="document.getElementById('confirm-button-calendar').removeAttribute('hidden');" style="width: auto; text-align: center; color: black; margin: 0 auto;">
        <button type="button" id="confirm-button-calendar" class="confirm-button-calendar" style="transform: translate(700%, -250%);" onclick="this.setAttribute('hidden', 'hidden');" hidden>✔</button>
        </p>
        <button type="button" class="btn primary" onclick="cambiarRegistro(document.getElementById('m_notas').value, document.getElementById('m_id').value, document.getElementById('calendario-emergente').value, document.getElementById('m_nombre').value, document.getElementById('m_telefono').value, document.getElementById('m_tareas').value)" id="boton-guardar-popup">Guardar</button>
    </div>
  </div>
</body>
<footer>
  <!--FOOTER-->
  {% block footer %}
  {% endblock %}
  <div id="footer">
    <a href="{{ url_for('logout') }}"><button class="btn-cerrar" style="vertical-align:middle;"><span>Cerrar sesión </span></button></a>
  </div>
<!--
  <p>
  <div style="text-align: center;">  
    <img src="{{ url_for('static', filename='img/logolosandes2.jpg')}}" style="border-radius: 5px ;height: 100px;">
  </div>
  </p>
-->
</footer>
  <!--JS-->
<script src="{{ url_for('static', filename='js/index-scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/swal-scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block js %}{% endblock %}
</html>