<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/mount_icon.ico')}}">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <style>

      .custom-modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .custom-modal-content{
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
        border-radius: 5px;
      }

      .custom-close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .custom-close-btn:hover, .custom-close-btn:focus {
        color: black;
        cursor: pointer;
      }

    .pantalla-carga {
    display: none; /* Ocultar por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 9999; /* Asegura que la pantalla de carga esté por encima de otros elementos */
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Animación suave */
}

.pantalla-carga.active {
    display: flex; /* Mostrar cuando se active */
}

.loader {
    border: 16px solid #f3f3f3; /* Color del borde */
    border-top: 16px solid #3498db; /* Color de la animación */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    </style>
    {% block css %}{% endblock %}
    <!--TÍTULO-->
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body style="background: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover;">
  <header style="font-family: 'Rubik', sans-serif; font-size: 16px; padding: 0; box-shadow: none; width: 100%;">
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
          {% if current_user.rol == 'admin' %}
          <li><a href="{{ url_for('usuarios') }}">Usuarios</a></li>
          {% endif %}
          <li><a href="{{ url_for('pagos') }}">Pagos</a></li>
          <li><a type="button" onclick="mostrarPantallaCarga()" style="cursor: pointer;">Registros</a></li>
          <li><a href="{{ url_for('movimientos') }}">Movimientos</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!--BODY-->
  {% block body %}
  {% endblock %}
  <div id="myModal" class="modal">
    <div class="modal-content" style="border-radius: 15px;">
        <input type="hidden" id="m_nombre">
        <input type="hidden" id="m_telefono">
        <input type="hidden" id="m_id">
        <span class="close" onclick="document.getElementById('myModal').style.display = 'none';">&times;</span>
        <h3 style="padding: 0; margin: 0;"><img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="22" height="22" style="vertical-align: top; margin-right: 4px;"><label id="m_cliente"></label></h3>
        <p style="color: #000080">Notas de llamada:
        <textarea id="m_notas" rows="10" style="font-family: 'Rubik', sans-serif; font-size: 14px; color: black; margin: 0 auto; text-transform: uppercase;"></textarea>
        </p>
        <p style="color: #000080">Tarea
        <br>
        <select id="m_tareas" style="font-family: 'Rubik', sans-serif; font-size: 16px;">
            {% for t in tareas %}
            <option value="{{t[0]}}">{% if t[1] != '' %}{{t[1]}}{% else %}SIN TAREA{% endif %}</option>
            {% endfor %}
        </select>
        </p>
        <p style="color: #000080">
        Fecha de tarea
        <input type="text" name="appointment" id="calendario-emergente" onclick="document.getElementById('confirm-button-calendar').removeAttribute('hidden');" style="width: auto; text-align: center; color: black; margin: 0 auto;">
        <button type="button" id="confirm-button-calendar" class="confirm-button-calendar" style="transform: translate(700%, -250%);" onclick="this.setAttribute('hidden', 'hidden');" hidden>✔</button>
        </p>
        <button type="button" class="btn primary" onclick="cambiarRegistro(document.getElementById('m_notas').value, document.getElementById('m_id').value, document.getElementById('calendario-emergente').value, document.getElementById('m_nombre').value, document.getElementById('m_telefono').value, document.getElementById('m_tareas').value)" id="boton-guardar-popup">Guardar</button>
    </div>
  </div>
  <div id="pantallaCarga" class="pantalla-carga">
    <div class="loader"></div>
  </div>

<div id="customModal" class="custom-modal">
  <div class="custom-modal-content">
      <span class="custom-close-btn">&times;</span>
      <div style="display: flex">
      <i class="fa fa-user-circle" style="margin-right: 5px;"></i>
      <div id="modal-nointeresa-cliente"></div>
      </div>
      <h2>Selecciona una opción:</h2>
      <select id="customComboBox" style="font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px; margin-right: 5px;" onchange="comprobarEliminarMotivo()">
        <option value="" style="color: gainsboro">Seleccionar motivo...</option>
      </select>
      <span class="icon-container">
      <button style="font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px; background-color: green; color: white; border-radius: 5px; cursor: pointer; margin-right: 5px;" onclick="agregarMotivo()"><i class="fa fa-plus"></i></button>
      <span class="tooltip" id="tooltip-editar" style="color: white; background-color: green; border: 1px solid white;">Nuevo motivo</span></span>
      <span class="icon-container">
      <button style="font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px; background-color: red; color: white; border-radius: 5px; cursor: pointer;" id="btn-borrar-motivo"><i class="fa fa-trash"></i></button>
      <span class="tooltip" id="tooltip-editar" style="color: white; background-color: red; border: 1px solid white;">Eliminar motivo</span></span>
      <br><br>
      <button id="customSubmitBtn" class="btn warning">Confirmar</button>
      <input type="hidden" id="modal-nointeresa-fecha">
      <input type="hidden" id="modal-nointeresa-telefono">
  </div>
</div>

</body>
<footer>
  <!--FOOTER-->
  {% block footer %}
  {% endblock %}
  <div id="footer" style="margin-top: 20px;">
    <a href="{{ url_for('logout') }}"><button class="btn-cerrar" style="vertical-align:middle;"><span>Cerrar sesión </span></button></a>
  </div>
</footer>
  <!--JS-->
<script src="{{ url_for('static', filename='js/index-scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/swal-scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block js %}{% endblock %}
  <script>

    function comprobarEliminarMotivo() {
      if (!document.getElementById('customComboBox').value){
        document.getElementById('btn-borrar-motivo').setAttribute('hidden', 'hidden');
      }else{
        document.getElementById('btn-borrar-motivo').removeAttribute('hidden');
      }
    }

    function agregarMotivo() {
      let nuevoDato = prompt("Nuevo motivo:");
      nuevoDato = nuevoDato.trim().toUpperCase();

      if (nuevoDato) {
        const confirmacion = confirm("¿Desea agregar "+nuevoDato+" como un motivo nuevo?");
        if (confirmacion) {
          const nuevoMotivo = document.createElement('option');
          nuevoMotivo.value = nuevoDato;
          nuevoMotivo.text = nuevoDato;
          customComboBox.add(nuevoMotivo);
          nuevoMotivo.selected = true;
          comprobarEliminarMotivo();
          agregarMotivoDB(nuevoDato);
        }
      }
    }

    function agregarMotivoDB(nuevoMotivo){
      var formData = {
      'nuevom': nuevoMotivo
  };
  $.ajax({
      type: 'POST',
      url: '/motivos/nuevo',
      data: formData,
      dataType: 'json',
      encode: true
  })
  .done(function(data){
      if(data.status === 'success'){
        alert('Se agregó '+nuevoMotivo+' como un nuevo motivo.');
      }else{
        alert('Error al agregar motivo a la base de datos. Dato ya registrado/duplicado o con caracteres inválidos. Puede utilizarlo temporalmente.')
      }
  })

  .fail(function(error) {
    alert("Error al agregar motivo a la base de datos. Dato ya registrado/duplicado o con caracteres inválidos. Puede utilizarlo temporalmente.");
    console.error('Error: ', error);
  });
    }

    function loadMotivos() {
      fetch('/get_motivos')
      .then(response => response.json())
      .then(motivos => {
        const select = document.getElementById('customComboBox');
        select.innerHTML = '<option value="" style="color: gainsboro">Seleccionar motivo...</option>';
        motivos.forEach(motivo => {
          const option = document.createElement('option');
          option.value = motivo.razon;
          option.textContent = motivo.razon;
          select.appendChild(option);
        });
      })
      .catch(error => {
        console.error("Error al cargar los motivos:", error);
      });
    }

    document.addEventListener("DOMContentLoaded", loadMotivos);

var customModal = document.getElementById('customModal');
var openCustomModalBtn = document.getElementById('openCustomModalBtn');
var customCloseBtn = document.getElementsByClassName('custom-close-btn')[0];
var customSubmitBtn = document.getElementById('customSubmitBtn');
var customComboBox = document.getElementById('customComboBox');

function noInteresa(nombre, valor, tarea, fecha, telefono) {
  document.getElementById('modal-nointeresa-cliente').textContent = nombre;
  document.getElementById('modal-nointeresa-fecha').value = fecha;
  document.getElementById('modal-nointeresa-telefono').value = telefono;
  if (tarea == 2 && valor){
    document.getElementById('customComboBox').value = valor;
  };
  comprobarEliminarMotivo();
  customModal.style.display = "block";
}

customCloseBtn.onclick = function() {
  customModal.style.display = 'none';
}

window.onclick = function(event){
  if (event.target == customModal) {
    customModal.style.display = "none";
  }
}

if(window.location.pathname.includes('registros.html')){
  customSubmitBtn.onclick = function() {
    cambiarRegistro(document.getElementById('customComboBox').value, document.getElementById('modal-nointeresa-fecha').value, 'razon de desinteres', document.getElementById('modal-nointeresa-cliente').textContent, document.getElementById('modal-nointeresa-telefono').value, null);
}} else {
customSubmitBtn.onclick = function() {
  cambiarRegistro(document.getElementById('customComboBox').value, document.getElementById('modal-nointeresa-fecha').value, 'razon de desinteres', document.getElementById('modal-nointeresa-cliente').textContent, document.getElementById('modal-nointeresa-telefono').value, null, true);
}}

    function mostrarPantallaCarga() {
    const pantallaCarga = document.getElementById('pantallaCarga');
    pantallaCarga.classList.add('active'); // Mostrar la pantalla de carga

    // Simula la carga de datos
    setTimeout(() => {
        // Aquí iría la lógica de carga de datos o redirección a la nueva página
        
        // Una vez que los datos estén listos, oculta la pantalla de carga
        //pantallaCarga.classList.remove('active');

        // Redirige a otra página (opcional)
        window.location.href = "{{ url_for('registros') }}"; // Reemplaza con la URL de destino
    }); // Simulación de 3 segundos
}
  </script>
</html>