<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/mount_icon.ico')}}">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    {% block css %}{% endblock %}
    <!--TÍTULO-->
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body onload="toggleSidebar('-0px')" style="background: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover;">
  <div id="sidebar">
    <ul>
      <a href="{{ url_for('dashboard') }}" style="text-decoration:none"><li>Inicio</li></a>
      {% if current_user.rol == 'admin' %}
      <a href="{{ url_for('usuarios') }}" style="text-decoration:none"><li>Usuarios</li></a>
      {% endif %}
      <a href="{{ url_for('clientes') }}" style="text-decoration:none"><li>Clientes</li><a>
      <a href="#" style="text-decoration: none;"><li>Factuación</li></a>
      <a href="{{ url_for('preguntas') }}" style="text-decoration:none"><li>Cotizaciones pendientes</li></a>
      <a href="{{ url_for('enviadas') }}" style="text-decoration:none"><li>Cotizaciones enviadas</li></a>
      <a href="{{ url_for('registros') }}" style="text-decoration:none"><li>Registros</li></a>
      <a href="{{ url_for('movimientos') }}" style="text-decoration:none"><li>Movimientos</li></a>
      <a href="{{ url_for('tareas') }}" style="text-decoration: None;"><li style="color: orange;">Tareas</li></a>
      <a href="{{ url_for('planes') }}" style="text-decoration: None;"><li style="color: orange;">Planes</li></a>
    </ul>
  </div>
  <button id="toggle-btn" onclick="toggleSidebar('-250px')">☰</button>
  <!--BODY-->
  {% block body %}
  {% endblock %}
</body>
<footer>
  <!--FOOTER-->
  {% block footer %}
  {% endblock %}
  <div id="footer">
    <a href="{{ url_for('logout') }}"><button class="btn-cerrar" style="vertical-align:middle;"><span>Cerrar sesión </span></button></a>
  </div>
<!--
  <p>
  <div style="text-align: center;">  
    <img src="{{ url_for('static', filename='img/logolosandes2.jpg')}}" style="border-radius: 5px ;height: 100px;">
  </div>
  </p>
-->
</footer>
  <!--JS-->
<script src="{{ url_for('static', filename='js/index-scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/swal-scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% block js %}{% endblock %}
</html>