{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
{% endblock %}

{% block titulo %}
Administración Los Andes | {{ empresa }}
{% endblock %}

{% block body %}
<div id="main-content" style="padding-top: 0; margin-top: 0;">
    <div style="text-align: center; color: #008080;"><h1>{{ empresa }}</h1></div>
    {% if pendientes != () %}
    <p><nav style="text-align: center;"><button type="button" id="btn-pendientes" onclick="mostrarPendientes()" class="btn secondary" style="font-size: 14px;">Ver últimos 5 pendientes »</button></nav></p>
    <form method="POST" name="formulario_a_listo" action="/registros/editarregistro"><input type="hidden" name="eliminar" id="eliminar"><input type="hidden" name="accion" id="accion" value="a_listo"><input type="hidden" name="redireccion" value="menu"><input type="hidden" name="nota" value=null><input type="hidden" id="agentenuevo" name="agentenuevo" value="null"><input type="hidden" name="menu_empresa" value="{{empresa}}" style="text-transform: uppercase;">
    <p>
        <table id="pendiente" style="width: 100%; font-size: 14px; padding: 0; box-shadow: none; margin: 0px auto; border: none;" hidden>
            <tr>
                <td></td>
                <th style="padding-top: 3px; padding-bottom: 3px;">Cliente</th>
                <th colspan="2" style="padding-top: 3px; padding-bottom: 3px;">Notas de llamada</th>
                <th colspan="4" style="padding-top: 3px; padding-bottom: 3px;">Tarea pendiente</th>
                <td></td>
            </tr>
    {% for p in pendientes %}
        <tr id="{{ p[5] }}">
            <td>
                <select id="{{p[5]}}agnt" onchange="cambiarAgente(document.getElementById('{{ p[5] }}agnt').value, '{{p[5]}}'); document.getElementById('{{p[5]}}').remove()" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;">
                    {% for a in agentes %}
                    {% if p[6] == a[0] %}
                    <option value="{{a[0]}}" selected>{{a[0]}}</option>
                    {% else %}
                    <option value="{{a[0]}}">{{a[0]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="border-radius: 5px; background-color: #ff9800; color: white; margin: 0;">{{ p[0] }}
            {% if p[1] != '' %}
            <br><img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{p[1]}}
            {% endif %}
            {% if p[8] != '' %}
            <br><img src="{{ url_for('static', filename='img/location-dot-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{p[8]}}
            {% endif %}
            {% if p[9] != '' %}
            <br><img src="{{ url_for('static', filename='img/envelope-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{p[9]}}
            {% endif %}
            </td>
            {% if p[2] != '' %}
            <td style="border-radius: 5px; background-color: #ff9800; color: white; margin: 0;">{{ p[2] }}</td>
            {% else %}
            <td style="border-radius: 5px; background-color: #ff9800; color: white; margin: 0;">No tiene un motivo de llamada cargado</td>
            {% endif %}
            <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" onclick="editarMotivo('{{ p[5] }}', 'motivo', 'Nota nueva:')"></button></td>
            <td style="border-radius: 5px; background-color: #ff9800; color: white; margin: 0;">
                {% if p[3] != '' %}
                {{ p[3] }} el día {{ p[4] }}
                {% if p[7] != ''%}
                a las {{ p[7]}}
                {% endif %}
                {% else %}
                No tiene ninguna tarea asignada
                {% endif %}</td>
            <td>
                <select name="tarea" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('tarea', this.value, '{{p[5]}}')">
                    {% for t in tareas %}
                    {% if p[3] == t[1] %}
                    <option value="{{t[0]}}" selected>{{t[1]}}</option>
                    {% else %}
                    <option value="{{t[0]}}">{{t[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="calendario" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('fecha', this.value, '{{p[5]}}')">
                {% for c in calendario %}
                {% if p[4] == c[0] %}
                <option value="{{ c[0] }}" selected>{{c[1]}}</option>
                {% else %}
                <option value="{{ c[0] }}">{{c[1]}}</option>
                {% endif %}
                {% endfor %}
                </select>
            </td>
            <td>
                <select name="hora" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('hora', this.value, '{{p[5]}}')">
                    <option value='{{ p[7] }}' style="color: #008080;" selected>{{ p[7] }}</option>
                    {% for hora in range(9,20) %}
                    <option value="{{hora}}:00 h">{{ hora }}:00 h</option>
                    {% endfor %}
                </select>
            </td>
            <td style="border-radius: 5px; background-color: #ff9800; color: white; margin: 0;">Llamada el {{ p[5] }}</td>
            <td style="text-align: center; margin: 0;"><button type="submit" onclick="document.getElementById('eliminar').value = '{{ p[5] }}'; registroListo('El registro fue guardado como Listo! con éxito.'); document.getElementById('{{ p[5] }}').style = 'display: None;'" style="font-size: 14px; padding: 3px; border: 1px solid;" class="btn success">Listo</button></td>
            <td style="text-align: center; margin: 0;"><button type="submit" style="font-size: 14px; padding: 3px; border: 1px solid; margin: 0;" class="btn danger" onclick="editarMotivo('{{ p[5 ]}}', 'rechazo', 'Razón del rechazo:')">Rechazado</button></td>
        </tr>
    {% endfor %}
    {% endif %}
        </table>
    </p>
    </form>
    <main>
        <div class="row">
            <div class="column" style="width: 20%; float: left; background: none; box-shadow: none;">
            {% if speech != () %}
                {% for s in speech %}
                <table style="width: 100%;">
                    <tr>
                        <th>{{ s[0] }}</th>
                    </tr>
                    <tr>
                        <td><li>{{ s[1] | replace("\n", "<li>") | safe }}</li></td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
            {% else %}
                <table>
                    <tr>
                    <th style="background-color: gray;">El cliente no tiene ningún speech cargado</th>
                    </tr>
                </table>
            {% endif %}
            </div>
            <div class="column" style="width: 60%; background: none; box-shadow: none;">
                {% if articulos != () %}
                {% for a in articulos %}
                <table style="width: 100%;">
                    <tr>
                        <th colspan="2">{{ a[0] }}<button type="button" onclick="agregarACotizacion('{{ a[0] }}',' {{a [1] }}');" class="btn warning" style="padding: 10px; font-size: 20px; float: right; font-family: 'Rubik', sans-serif;">${{ a[1] }}</button></th>
                    </tr>
                    <tr>
                    {% if a[3] != None %}
                    <td>
                        <img src="{{ url_for('mostrar_imagen_art', articulo=a[0], empresa=empresa) }}" alt="El formato de imagen no pudo ser procesado" style="max-width: 500px; max-height: 500px; border-radius: 10px; background: None;">
                    </td>
                    {% endif %}
                    <td style="text-align: left; vertical-align: top;"><li>{{ a[2] | replace("\n", "<li>") | safe }}</li></td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
                {% else %}
                <table>
                    <tr>
                        <th style="background-color: gray;">El cliente no tiene artículos cargados</th>
                    </tr>
                </table>
                {% endif %}
            </div>
            <div class="column" style="width: 20%; float: right; background: none; box-shadow: none;">
                <form method="POST" name="formulario" action="/menu/registrarllamada">
                <input type="hidden" value="{{ empresa }}" name="empresa">
                <table style="width: 100%;">
                    <tr>
                        <th>Registro de llamada</th>
                    </tr>
                    <tr>
                        <td>Nombre:<input type="text" style="width: 100%; text-transform: uppercase;" name="nombre" id="nombre" oninput="habilitarBoton('nombre', 'botoncotizacion')" onkeypress="foco2('telefono');" autofocus required></td>
                    </tr>
                    <tr>
                        <td>Telefono:<input type="text" style="width: 100%; text-transform: uppercase;" name="telefono" id="telefono" onkeypress="foco2('direccion')"></td>
                    </tr>
                    <tr>
                        <td>Dirección: <input type="text" style="width: 100%; text-transform: uppercase;" name="direccion" id="direccion" onkeypress="foco2('email')"></td>
                    </tr>
                    <tr>
                        <td>Email: <input type="email" style="width: 100%; text-transform: lowercase;" name="email" id="email" onkeypress="foco2('motivo')"></td>
                    </tr>
                    <tr>
                        <td>Notas de la llamada:<textarea name="motivo" rows="8" style="width: 100%; text-transform: uppercase;" id="motivo"></textarea></td>
                    </tr>
                    {% if preguntas != () %}
                    <tr>
                        <td><label for="ptas" style="display: inline-block; vertical-align: middle;"><input type="checkbox" name="check" onclick="seg('pg', '{{num_preguntas[0][0]}}', 'ptas');" id="ptas" style="vertical-align: middle; width: auto; position: relative; display: inline-block;">Mostrar formulario</label></td>
                    </tr> 
                    {% endif %}
                    <input type="hidden" name="comprobarSiHayPreguntas" value="0" id="comprobarSiHayPreguntas">
                    {% for pg in preguntas %}
                    <tr id=pg{{pg[1]}} hidden>
                    <td>{{ pg[0] }}<br><input style="width: 100%; text-transform: uppercase;" type="text" id="resp{{pg[1]}}" name="respuesta{{pg[1]}}" onkeypress="foco2('resp{{pg[1]+1}}')"><input type="hidden" name="pregunta{{pg[1]}}" value="{{ pg[0] }}"></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <select name="estado" id="estado" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                                <option value="pendiente" style="color: gray">Estado...</option>
                                <option value="pendiente" style="background-color: #ff9800; color:white">Pendiente</option>
                                <option value="listo" style="background-color: #04AA6D; color: white;">Listo</option>
                                <option value="rechazado" style="color: #da190b;">No le interesó</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tarea" id="tarea" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                                {% for t in tareas %}
                                {% if t[0] == 0%}
                                <option value="0">Seleccionar tarea...</option>
                                {% else %}
                                <option value="{{ t[0] }}">{{ t[1] }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="calendario" id="calendario" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                            <option value="">Seleccionar fecha...</option>
                            {% for c in calendario %}
                            <option value="{{ c[0] }}">{{ c[1] }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="hora" id="hora" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                                <option value="">Seleccionar hora...</option>
                                {% for h in range(9,20) %}
                                <option value="{{ h }}:00 h">{{ h }}:00 h</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <tr></tr>
                        <th id="th_cot" hidden></th>
                        <table style="width: 100%;" id="tablacotizacion" name="tablacotizacion" hidden>
                            <td><input type="hidden" value=0 id="cotizaciontotal" name="cotizaciontotal"></td>
                            <td><textarea style="display: None" name="cotizacion" id="cotizacion" rows="10" style="text-transform: uppercase;"></textarea></td>
                        </table>
                    </tr>
                    <button type="submit" id="submit" style="display: none;"></button>
                        <p><td><button id="botoncotizacion" type="button" onmouseover="copiarCotizacion()" onclick="/*registroListo('El registro fue guardado con éxito!');*/ alert('El registro fue guardado con éxito!'); document.getElementById('submit').click();" class="btn success" style="width: 100%; font-family: 'Rubik', sans-serif; padding: 10px; font-size: 16px;" hidden>Guardar registro</button></td></p>
                    </tr>
                </table>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block js %}
<script>
function agregarACotizacion(articulo,precio){
    document.getElementById('th_cot').removeAttribute('hidden');
    document.getElementById('tablacotizacion').removeAttribute('hidden');
    let n_row = document.getElementById('tablacotizacion').rows.length;
    let fila = document.getElementById('tablacotizacion').insertRow(n_row);
    fila.insertCell(0).innerHTML = articulo;
    fila.insertCell(1).innerHTML = precio;
    fila.id = articulo;
    fila.style = "font-size: 16px;"
    let boton = document.createElement("button");
    boton.type = "button";
    boton.classList = "btn danger";
    boton.textContent = "-";
    boton.style = "padding: 5px; font-size: 16px;";
    boton.addEventListener('click', () => {document.getElementById(articulo).remove(); let valor = document.getElementById('cotizaciontotal').value = parseFloat(document.getElementById('cotizaciontotal').value)-parseFloat(precio); document.getElementById('th_cot').innerText = 'Cotización $'+valor;});
    fila.appendChild(boton);
    let valor = document.getElementById('cotizaciontotal').value = parseFloat(document.getElementById('cotizaciontotal').value)+parseFloat(precio);
    //document.getElementById('botoncotizacion').textContent = 'Guardar registro ($ '+valor+')';
    document.getElementById('th_cot').innerText = 'Cotización $'+valor;
}

function copiarCotizacion(){
    let tabla = document.getElementById('tablacotizacion');
    let filas = tabla.getElementsByTagName('tr');
    let valores = '';

    for (let i = 0; i <= filas.length; i++){
        var celdas = filas[i].getElementsByTagName('td');

        for (let j = 0; j < celdas.length; j++){
            valores += celdas[j].innerText+' $';
        }
        valores += '\n';
        document.getElementById('cotizacion').value = valores;
    }
}

function mostrarPendientes(){
    let pendiente = document.getElementById('pendiente');
    if (pendiente.hidden == true){
        pendiente.removeAttribute('hidden');
        document.getElementById('btn-pendientes').textContent = 'Ver últimos 5 pendientes «'
    }else{
        pendiente.setAttribute("hidden","hidden");
        document.getElementById('btn-pendientes').textContent = 'Ver últimos 5 pendientes »'
    }
}

function cambiarAgente(nuevo, fecha){
        document.getElementById('accion').value = 'a_listo';
        document.getElementById('agentenuevo').value = nuevo;
        document.getElementById('eliminar').value = fecha;
        document.formulario_a_listo.submit();
}

function mostrarListaPreguntas(prefijo, num_preguntas){
    for (let i = 1; i<=num_preguntas; i++){
        document.getElementById(prefijo+i+".0").setAttribute('hidden', 'hidden')
    }
    
}

function seg(prefijo, num_preguntas, idcheck){
    seguimiento(prefijo, num_preguntas, idcheck)
}
function seguimiento(prefijo, num_preguntas, idcheck){
    let checkbox = document.getElementById(idcheck);
      checkbox.addEventListener( "change", () => {
         if ( checkbox.checked ) {
            for (let i = 1; i<=num_preguntas; i++){
                document.getElementById(prefijo+i+".0").removeAttribute('hidden');
            }
            document.getElementById('comprobarSiHayPreguntas').value = parseInt(num_preguntas);
            document.getElementById('resp1.0').focus();
         } else {
            for (let i = 1; i<=num_preguntas; i++){
                document.getElementById(prefijo+i+".0").setAttribute('hidden', 'hidden');
            }
            document.getElementById('comprobarSiHayPreguntas').value = 0;
         }
      });
}

function cambiarRegistro(columna, valornuevo, idfecha){
    document.getElementById('accion').value = columna;
    document.getElementById('agentenuevo').value = valornuevo;
    document.getElementById('eliminar').value = idfecha;
    document.formulario_a_listo.action = '/registros/editarregistro/actualizar';
    document.formulario_a_listo.submit();
}

function editarMotivo(idreg, accion, desc_prompt){
    document.getElementById("eliminar").value = idreg;
    document.getElementById("accion").value = accion;
    let respuesta = prompt(desc_prompt);
    if (respuesta != null){
        document.getElementById('agentenuevo').value = respuesta;
        document.formulario_a_listo.action = '/registros/editarregistro/actualizar';
        document.formulario_a_listo.submit();
    }
}
</script>
{% endblock %}
