{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
{% endblock %}

{% block titulo %}
Administración Los Andes | {{ empresa }}
{% endblock %}

{% block body %}
<div id="main-content" style="padding-top: 0; margin-top: 0;">
    <div style="text-align: center; color: #008080;"><h1>{{ empresa }}</h1></div>
    {% if pendientes %}
    <p><nav style="text-align: center;"><button type="button" id="btn-pendientes" onclick="mostrarPendientes()" class="btn secondary" style="font-size: 14px;">Ver últimos 7 pendientes »</button></nav></p>
    <p>
        <table id="pendiente" style="width: 100%; font-size: 14px; padding: 0; box-shadow: none; margin: 0px auto; border: none;" hidden>
            <tr>
                <th style="padding-top: 3px; padding-bottom: 3px;" colspan="2">Cliente</th>
                <th style="padding-top: 3px; padding-bottom: 3px;">Notas de llamada</th>
                <th style="padding-top: 3px; padding-bottom: 3px;" colspan="2">Tarea pendiente</th>
            </tr>
    {% for p in pendientes %}
        <tr style="background: #{{p[10]}};">
            <td style="padding: 0; margin: 0; text-align: center;">
                <i class="fa fa-headphones"></i><span class="icon-container"><select style="background: none; width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px; margin: 0; cursor: pointer; border: none;" onchange="cambiarRegistro(this.value, '{{p[5]}}', 'agente', '{{p[0]}}', '{{p[1]}}', null, true)">
                    <option value="{{current_user.fullname}}">{{current_user.fullname}}</option>
                    {% for agente in agentes %}
                    {% if agente[0] != current_user.fullname %}
                        <option value="{{agente[0]}}">{{agente[0]}}</option>
                    {% endif %}
                    {% endfor%}
                </select><span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
            </td>

            <td>
            <span class="icon-container"><i class="fa fa-user-circle" style="cursor: pointer;" onclick="cambiarRegistroPopUp('o', '{{p[5]}}', 'nombre', '{{p[0]}}', '{{p[1]}}', '{{p[0]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{ p[0] }}

            {% if p[1] %}
            <br><i class="fa fa-phone" style="cursor: not-allowed"></i> {{p[1]}}
            {% endif %}

            {% if p[8] %}
            <br><span class="icon-container"><i class="fa fa-map-marker" style="cursor: pointer;" onclick="cambiarRegistroPopUp('a', '{{p[5]}}', 'direccion', '{{p[0]}}', '{{p[1]}}', '{{p[8]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar ubicación</span></span> {{p[8]}}
            {% endif %}

            {% if p[9] %}
            <br><span class="icon-container"><i class="fa fa-envelope" style="cursor: pointer;" onclick="cambiarRegistroPopUp('o', '{{p[5]}}', 'email', '{{p[0]}}', '{{p[1]}}', '{{p[9]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{p[9]}}
            {% endif %}
            </td>

            <td>
                <span class="icon-container"><i class="fa fa-sticky-note" style="cursor: pointer" onclick="cambiarRegistroPopUp('a', '{{p[5]}}', 'nota', '{{p[0]}}', '{{p[1]}}', '{{p[2]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span> {% if p[2] %} {{p[2]}}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
            </td>

            <td >
                <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer;" onclick="setearPopUp('{{p[5]}}', '{{p[0]}}', '{{p[2]}}', '{{p[11]}}', '{{p[4]}}', '{{p[7]}}', '{{p[1]}}', true)"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha y hora de tarea</span></span> {{ p[3] }}
                {% if p[4] %}
                    el {{ p[6] }}
                        {% if p[7] %}
                            a las {{ p[7]}} h
                        {% endif %}
                {% endif %}
            </td>

            <td>
                <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; text-shadow: 0 0 5px black; color: red;" onclick="cambiarRegistroPopUp('a', '{{p[5]}}', 'razon de desinteres', '{{p[0]}}', '{{p[1]}}', '', null);"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336; border: 0.5px solid black;">No le interesó</span></span>
            </td>
        </tr>
    {% endfor %}
    </table>
    </p>
    {% endif %}

    <main>
        <div class="row">
            <div class="column" style="width: 20%; float: left; background: none; box-shadow: none;">
            {% if speech != () %}
                {% for s in speech %}
                <table style="width: 100%;">
                    <tr>
                        <th>{{ s[0] }}</th>
                    </tr>
                    <tr>
                        <td><li>{{ s[1] | replace("\n", "<li>") | safe }}</li></td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
            {% else %}
                <table>
                    <tr>
                    <th style="background-color: gray;">El cliente no tiene ningún speech cargado</th>
                    </tr>
                </table>
            {% endif %}
            </div>
            <div class="column" style="width: 60%; background: none; box-shadow: none;">
                {% if articulos != () %}
                {% for a in articulos %}
                <table style="width: 100%;">
                    <tr>
                        <th colspan="2">{{ a[0] }}
                        <!--
                            <button type="button" onclick="agregarACotizacion('{{ a[0] }}',' {{a [1] }}');" class="btn warning" style="padding: 10px; font-size: 20px; float: right; font-family: 'Rubik', sans-serif;">${{ a[1] }}</button>
                        -->
                        </th>
                    </tr>
                    <tr>
                    {% if a[3] != None %}
                    <td>
                        <img src="{{ url_for('mostrar_imagen_art', articulo=a[0], empresa=empresa) }}" alt="El formato de imagen no pudo ser procesado" style="max-width: 500px; max-height: 500px; border-radius: 10px; background: None;">
                    </td>
                    {% endif %}
                    <td style="text-align: left; vertical-align: top;"><li>{{ a[2] | replace("\n", "<li>") | safe }}</li></td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
                {% else %}
                <table>
                    <tr>
                        <th style="background-color: gray;">El cliente no tiene artículos cargados</th>
                    </tr>
                </table>
                {% endif %}
            </div>
            <table id="tabla-telefonos" hidden>
                    {% for tel in telefonos %}
                    <tr>
                        <td>
                            {{tel[0]}}
                        </td>
                    </tr>
                    {% endfor %}
            </table>
            <div class="column" style="width: 20%; float: right; background: none; box-shadow: none;">
                <table style="width: 100%;">
                    <tr>
                        <th>Registro de llamada</th>
                    </tr>
                    <tr>
                        <td>Nombre:<input type="text" style="width: 100%; text-transform: uppercase;" name="nombre" id="nombre" oninput="habilitarBoton('nombre', 'botoncotizacion')" onkeypress="foco2('telefono');" autofocus required></td>
                    </tr>
                    <tr>
                        <td>
                            Teléfono:<input type="text" style="width: 100%; text-transform: uppercase;" name="telefono" id="telefono" onkeypress="foco2('direccion');" onkeyup="comprobarEnTabla('tabla-telefonos', 'telefono', 'notificador')" onkeydown="comprobarEnTabla('tabla-telefonos', 'telefono', 'notificador')">
                            <div style="color: red; font-size: 14px;" id="notificador" hidden>
                            <img src="{{ url_for('static', filename='img/warning-comprobacion.png') }}" width="20" height="20" style="vertical-align: bottom;"> Este número ya está registrado
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Dirección: <input type="text" style="width: 100%; text-transform: uppercase;" name="direccion" id="direccion" onkeypress="foco2('email')"></td>
                    </tr>
                    <tr>
                        <td>E-mail: <input type="email" style="width: 100%; text-transform: lowercase;" name="email" id="email" onkeypress="foco2('motivo')"></td>
                    </tr>
                    <tr>
                        <td>Notas de la llamada:<textarea name="motivo" rows="8" style="width: 100%; text-transform: uppercase;" id="motivo"></textarea></td>
                    </tr>
                <!--
                    {% if preguntas %}
                    <tr>
                        <td><label for="ptas" style="display: inline-block; vertical-align: middle;"><input type="checkbox" name="check" onclick="seg('pg', '{{num_preguntas[0][0]}}', 'ptas');" id="ptas" style="vertical-align: middle; width: auto; position: relative; display: inline-block;">Mostrar formulario</label></td>
                    </tr> 
                    {% endif %}
                    <input type="hidden" name="comprobarSiHayPreguntas" value="0" id="comprobarSiHayPreguntas">
                    {% for pg in preguntas %}
                    <tr id=pg{{pg[1]}} hidden>
                    <td>{{ pg[0] }}<br><input style="width: 100%; text-transform: uppercase;" type="text" id="resp{{pg[1]}}" name="respuesta{{pg[1]}}" onkeypress="foco2('resp{{pg[1]+1}}')"><input type="hidden" name="pregunta{{pg[1]}}" value="{{ pg[0] }}"></td>
                    </tr>
                    {% endfor %}
                    <tr>
                -->
                        <td>
                            <select name="tarea" id="tarea" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                                {% for t in tareas %}
                                    {% if t[0] == 0 %}
                                        <option value="0">Seleccionar tarea...</option>
                                    {% else %}
                                        {% if empresa == 'TS NETWORK CAMARAS DE SEGURIDAD' %}
                                            {% if t[1] == 'NO ATENDIÓ' or t[1] == 'NO LE INTERESA' or t[1] == 'LLAMAR' or t[1] == 'ESPERAR LLAMADA' or t[1] == 'SEGUIMIENTO 1' or t[1] == 'SEGUIMIENTO 2' or t[1] == 'SEGUIMIENTO 3' or t[1] == 'INFORMACIÓN ENVIADA' or t[1] == 'INSPECCIÓN PROGRAMADA' or t[1] == 'INSPECCIÓN REALIZADA' or t[1] == 'HACER COTIZACIÓN' or t[1] == 'COTIZACIÓN ENVIADA' or t[1] == 'INSTALACIÓN PROGRAMADA' or t[1] == 'YA INSTALÓ' %}
                                                    <option value="{{ t[0] }}">{{ t[1] }}</option>
                                            {% endif %}
                                        {% elif empresa == 'URBANA STUDIOS' or empresa == 'LOMA ALTA' or empresa == 'CARTEX' or empresa == 'MAGIC PARTY PLACE' %}
                                            {% if t[1] == 'NO ATENDIÓ' or t[1] == 'NO LE INTERESA' or t[1] == 'LLAMAR' or t[1] == 'ESPERAR LLAMADA' or t[1] == 'SEGUIMIENTO 1' or t[1] == 'SEGUIMIENTO 2' or t[1] == 'SEGUIMIENTO 3' or t[1] == 'INFORMACIÓN ENVIADA' or t[1] == 'CITA PROGRAMADA' or t[1] == 'NO PUDO ASISTIR' or t[1] == 'SI ASISTIÓ' or t[1] == 'REALIZÓ APLICACIÓN' or t[1] == 'RENTÓ' %}
                                                <option value="{{ t[0] }}">{{ t[1] }}</option>
                                            {% endif %}
                                        {% elif empresa == 'TS NETWORK INTERNET' %}
                                            {% if t[1] == 'LLAMAR' or t[1] == 'INSTALACIÓN PROGRAMADA' or t[1] == 'SEGUIMIENTO DE PAGO' or t[1] == 'SOPORTE TÉCNICO' or t[1] == 'ESPERAR LLAMADA' or t[1] == 'SEGUIMIENTO DE SERVICIO' or t[1] == 'SE VENDE SERVICIO' %}    
                                            <option value="{{ t[0] }}">{{ t[1] }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{ t[0] }}">{{ t[1] }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="appointment" id="calendario-emergente-registro" onclick="document.getElementById('confirm-button-calendar-registro').removeAttribute('hidden');" style="width: 100%; color: black; padding: 3px;" placeholder="Fecha y hora de tarea...">
                            <button type="button" id="confirm-button-calendar-registro" class="confirm-button-calendar" style="transform: translate(1025%, -205%);" onclick="this.setAttribute('hidden', 'hidden');" hidden>✔</button>
                        </td>
                    </tr>
                    <tr>
                        <tr></tr>
                        <th id="th_cot" hidden></th>
                        <table style="width: 100%;" id="tablacotizacion" name="tablacotizacion" hidden>
                            <tr>
                            <td colspan="3"><textarea name="cotizacion" id="cotizacion" rows="10" style="text-transform: uppercase; width: 100%;"></textarea></td>
                            </tr>
                            <tr>
                            <td colspan="3"><input type="number" value=0 id="cotizaciontotal" name="cotizaciontotal" style="width: 100%;"></td>
                            </tr>
                        </table>
                    </tr>
                    <button type="submit" id="submit" style="display: none;"></button>
                        <p><td><button id="botoncotizacion" type="button" onclick="registrarLlamada('{{empresa}}', document.getElementById('nombre').value, document.getElementById('telefono').value, document.getElementById('direccion').value, document.getElementById('email').value, document.getElementById('motivo').value, document.getElementById('tarea').value, document.getElementById('calendario-emergente-registro').value)" class="btn success" style="width: 100%; font-family: 'Rubik', sans-serif; padding: 10px; font-size: 16px;" hidden>Guardar registro</button></td></p>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block js %}
<script>

function registrarLlamada(empresa, nombre, telefono, direccion, email, nota, tarea, fechatarea){
    var formData = {
      'empresa': empresa,
      'nombre': nombre,
      'telefono': telefono,
      'direccion': direccion,
      'email': email,
      'nota': nota,
      'tarea': tarea,
      'fechatarea': fechatarea
  };
  $.ajax({
      type: 'POST',
      url: '/menu/registrarllamada',
      data: formData,
      dataType: 'json',
      encode: true
  })
  .done(function(data){
      if(data.status === 'success'){
        registroListo('Registro guardado con éxito!')
        if(data.redireccion){
          window.location.href = data.redireccion;
        }else{
          location.reload();
        }
      }else{
          alert('Error al registrar llamada.')
      }
  })

  .fail(function(xhr, status, error) {
    alert("Error en la solicitud.");
    console.error('Error: ', error);
  });
}

function agregarACotizacion(articulo,precio){
    document.getElementById('th_cot').removeAttribute('hidden');
    document.getElementById('tablacotizacion').removeAttribute('hidden');
    let n_row = document.getElementById('tablacotizacion').rows.length;
    let fila = document.getElementById('tablacotizacion').insertRow(n_row);
    fila.insertCell(0).innerHTML = articulo;
    fila.insertCell(1).innerHTML = precio;
    fila.id = articulo;
    fila.style = "font-size: 16px;"
    let boton = document.createElement("button");
    boton.type = "button";
    boton.classList = "btn danger";
    boton.textContent = "-";
    boton.style = "padding: 5px; font-size: 16px;";
    boton.addEventListener('click', () => {document.getElementById(articulo).remove(); let valor = document.getElementById('cotizaciontotal').value = parseFloat(document.getElementById('cotizaciontotal').value)-parseFloat(precio); document.getElementById('th_cot').innerText = 'Cotización $'+valor; copiarCotizacion();});
    fila.appendChild(boton);
    let valor = document.getElementById('cotizaciontotal').value = parseFloat(document.getElementById('cotizaciontotal').value)+parseFloat(precio);
    //document.getElementById('botoncotizacion').textContent = 'Guardar registro ($ '+valor+')';
    document.getElementById('th_cot').innerText = 'Cotización $'+valor;
    copiarCotizacion();
}

function copiarCotizacion(){
    let tabla = document.getElementById('tablacotizacion');
    let filas = tabla.getElementsByTagName('tr');
    let valores = '';

    for (let i = 0; i <= filas.length; i++){
        var celdas = filas[i].getElementsByTagName('td');

        for (let j = 0; j < celdas.length; j++){
            valores += celdas[j].innerText+' $';
        }
        valores += '\n';
        document.getElementById('cotizacion').value = valores;
    }
}

function mostrarPendientes(){
    let pendiente = document.getElementById('pendiente');
    if (pendiente.hidden == true){
        pendiente.removeAttribute('hidden');
        document.getElementById('btn-pendientes').textContent = 'Ver últimos 7 pendientes «'
    }else{
        pendiente.setAttribute("hidden","hidden");
        document.getElementById('btn-pendientes').textContent = 'Ver últimos 7 pendientes »'
    }
}


function mostrarListaPreguntas(prefijo, num_preguntas){
    for (let i = 1; i<=num_preguntas; i++){
        document.getElementById(prefijo+i+".0").setAttribute('hidden', 'hidden')
    }
    
}

function seg(prefijo, num_preguntas, idcheck){
    seguimiento(prefijo, num_preguntas, idcheck)
}
function seguimiento(prefijo, num_preguntas, idcheck){
    let checkbox = document.getElementById(idcheck);
      checkbox.addEventListener( "change", () => {
         if ( checkbox.checked ) {
            for (let i = 1; i<=num_preguntas; i++){
                document.getElementById(prefijo+i+".0").removeAttribute('hidden');
            }
            document.getElementById('comprobarSiHayPreguntas').value = parseInt(num_preguntas);
            document.getElementById('resp1.0').focus();
         } else {
            for (let i = 1; i<=num_preguntas; i++){
                document.getElementById(prefijo+i+".0").setAttribute('hidden', 'hidden');
            }
            document.getElementById('comprobarSiHayPreguntas').value = 0;
         }
      });
}
</script>
{% endblock %}
