{% extends 'index.html' %}

{% block titulo %}
Administración Los Andes | Movimientos
{% endblock %}

{% block body %}
<div id="main-content">
    <h1>Panel de registros de todos los movimientos del sistema.
    <button type="button" style="margin-left: 10px; cursor: pointer;"><a href="{{ url_for('movimientos') }}"><img src="{{ url_for('static', filename='img/rotate-left-solid.svg') }}" width="20" height="20"></a></button></h1>

    <table style="border: 1px solid black; margin: 0 auto; width: 95%;" id="tabla_movimientos">
        <tr>
            <td>
                <select style="font-family: 'Rubik', sans-serif; font-size: 16px; width: 100%;" onchange="filtro('filtro_agente', 'tabla_movimientos', 0, 1)" id="filtro_agente">
                    <option value="">Filtrar por agente...</option>
                    {% for agente in agentes %}
                    <option value="{{agente[0]}}">{{agente[0]}}</option>
                    {% endfor %}
                </select>
            </td>
            <td style="display: flex; align-items: center;">
                <span style="width: 50%; margin-right: 10px;">
                <input type="text" style="font-size: 14px; background: none; border: none; margin: 0; width: 100%; height: 100%;" placeholder="Filtro..." id="filtro_mov" value="{{ search or '' }}">
                <script>
                    function aplicarFiltro() {
                        const filtro = document.getElementById('filtro_mov').value;
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('search', filtro);
                        currentUrl.searchParams.set('page', 1);
                        window.location.href = currentUrl.toString();
                    }

                    function filtrarPorFecha() {
                        const fecha = document.getElementById('filtro_fecha').value;
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('fecha', fecha);
                        currentUrl.searchParams.set('page', 1);
                        window.location.href = currentUrl.toString();
                    }
                </script>
                </span>
                <span>
                <button type="button" onclick="aplicarFiltro()" style="width: 100%; font-size: 16px; font-family: 'Rubik', sans-serif; cursor: pointer"><i class="fa fa-search"></i> Buscar</button>
                </span>
            </td>
            <td>
            <input type="date" id="filtro_fecha" style="font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px; width: auto; margin: 0; color: #000080;" value="{{ fecha or '' }}" onchange="filtrarPorFecha()">
            </td>
        </tr>
        <tr>
            <th>Agente</th>
            <th>Movimiento</th>
            <th>Fecha</th>
        </tr>
        {% for i in tablas %}
        <tr>
                <td style="border-bottom: 1px solid #BDBDBD; width: 13%;"><i class="fa fa-headphones"></i> {{i[2]}}</td>
                <td style="border-bottom: 1px solid #BDBDBD;">
                    <span style="color: #000080">{{ i[0] }}</span>
                    {% if i[3] %}
                    <br>
                    <i class="fa fa-user-circle"></i> {{i[3]}}
                    {% endif %}
                    {% if i[4] %}
                    <br>
                    <span style="text-decoration: underline;">Dato nuevo:</span> {{i[4]}}
                    {% endif %}
                </td>
                <td style="border-bottom: 1px solid #BDBDBD; width: 13%;">{{ i[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if current_page > 1 %}
        <a href="{{ url_for('movimientos', page=current_page - 1, fecha=fecha) }}">« Anterior</a>
        {% endif %}

        {% set start_page = current_page - 2 if current_page - 2 > 1 else 1 %}
        {% set end_page = current_page + 8 if current_page + 8 < total_pages else total_pages %}

        {% for page in range (start_page, end_page + 1) %}
        <a href="{{ url_for('movimientos', page=page, fecha=fecha) }}" class="{{ 'active' if page == current_page else '' }}">{{ page }}</a>
        {% endfor %}

        {% if current_page < total_pages %}
        <a href="{{ url_for ('movimientos', page=current_page + 1, fecha=fecha) }}">Siguiente »</a>
        {% endif %}
    </div>
</div>
{% endblock %}