{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
{% endblock %}

{% block titulo %}
Administración Los Andes | Pagos
{% endblock %}

{% block body %}
<div id="main-content">
    <h1>Panel de pagos. <button style="vertical-align: bottom;" class="btn success" onclick="document.getElementById('nuevo_pago').removeAttribute('hidden'); this.setAttribute('hidden', 'hidden'); document.getElementById('nombre').focus();">Registrar nuevo pago</button><button class="btn secondary" onclick="document.getElementById('id_fechas').removeAttribute('hidden'); this.setAttribute('hidden', 'hidden')" style="float: right;"><img src="{{ url_for('static', filename='img/calendar-days-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Filtrar entre fechas</button></h1>
    <div id="id_fechas" hidden>
        <div style="margin: 10px auto; width: 95%; display: flex; justify-content: center;">
            Desde<input type="date" style="width: auto; padding: 0; background: none; margin: 0 15px 0 15px; border: none;" id="fecha1">hasta<input type="date" style="width: auto; padding: 0; background: none; margin-left: 15px; border: none;" id="fecha2"><button type="button" style="margin-left: 10px; background-color: lightgoldenrodyellow;" onclick="document.getElementById('fecha_inicial').value = document.getElementById('fecha1').value; document.getElementById('fecha_final').value = document.getElementById('fecha2').value; document.getElementById('cambiar_mes').value = 'entrefechas'; document.cambio_mes.submit();"><img src="{{ url_for('static', filename='img/magnifying-glass-solid.svg') }}" width="15" height="15" style="vertical-align: bottom;"> Buscar</button>
        </div>
    </div>
    <h3 id="nuevo_pago" hidden>    
    <div style="width: 95%; margin: 0 auto; display: flex; justify-content: space-around; margin-bottom: 20px;">
        <span style="width: 35%; margin-right: 10px;">
        <img src="{{ url_for('static', filename='img/industry-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Empresa<br><select id="empresa" style="font-family: 'Rubik', sans-serif; font-size: 16px; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;">
            {% for e in empresas %}
            <option value="{{e[0]}}">{{e[0]}}</option>
            {% endfor %}
        </select>
        </span>
        <span style="width: 50%; margin-right: 10px;">
        <img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Nombre<input type="text" style="text-transform: uppercase; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;" id="nombre" onkeypress="foco2('telefono');">
        </span>
        <span style="width: 30%; margin-right: 10px;">
        <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Teléfono<input type="text" style="text-transform: uppercase; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;" id="telefono" onkeypress="foco2('motivo');">
        </span>
        <span style="width: 140%; margin-right: 10px;">
            <img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Datos de pago<input type="text" style="text-transform: uppercase; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;" id="motivo" onkeypress="foco2('pago');">
        </span>
        <span style="width: 25%; margin-right: 10px;">
            <img src="{{ url_for('static', filename='img/circle-dollar-to-slot-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Pago<input type="number" style="color: #008080; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;" id="pago" >
        </span>
        <span style="width: 35%; margin-right: 10px;">
            <img src="{{ url_for('static', filename='img/landmark-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Medio<br><select id="forma_pago" style="font-family: 'Rubik', sans-serif; font-size: 16px; padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;">
                <option value="EFECTIVO">Efectivo</option>
                <option value="PAYPAL">PayPal</option>
                <option value="CASH APP">Cash App</option>
                <option value="CHEQUE">Cheque</option>
                <option value="ZELLE">Zelle</option>
                <option value="DEPÓSITO BANCARIO">Depósito Bancario</option>
            </select>
        </span>
        <span style="width: 35%; margin-right: 10px;">
            <img src="{{ url_for('static', filename='img/calendar-days-solid.svg') }}" width="20" height="20" style="vertical-align: bottom;"> Fecha<input type="date" id="fecha_pago" style="padding: 2px 4px 2px 4px; margin-top: 5px; width: 100%;" value="{{hoy}}">
        </span>
        <span style="width: 40%; display: grid;">
            <button type="button" onclick="var xhr = new XMLHttpRequest(); xhr.open('POST', '/pagos/registrar_pago', true); xhr.setRequestHeader('Content-Type', 'application/json'); xhr.send(JSON.stringify({pago: [document.getElementById('empresa').value, document.getElementById('motivo').value, null, document.getElementById('nombre').value, document.getElementById('telefono').value, '0000-00-00', document.getElementById('fecha_pago').value, document.getElementById('forma_pago').value, document.getElementById('pago').value]})); registroListo('El pago fue registrado con éxito!'); window.location.replace('/pagos');" class="btn success" style="padding-top: 7px; padding-bottom: 7px; vertical-align: bottom; width: 100%;"><img src="{{ url_for('static', filename='img/reduction.png') }}" width="30" height="30" style="vertical-align: middle;"> Registrar pago</button>
        </span>
        </div>
    </h3>
    <div style="width: 95%; margin: 0 auto; text-align: center; margin-bottom: 10px; vertical-align: middle; display: flex; justify-content:center;">
        <span style="text-align: center; font-size: 30px; vertical-align: middle;"><img src="{{ url_for('static', filename='img/month.png') }}" width="30" height="30" style="vertical-align: top; padding: 0; margin: 0; margin-right: 5px;">Registros {% if mes == 'entrefechas' %}entre el <span style="color: #008080;">{{fecha_inicial}}</span> y el <span style="color: #008080">{{fecha_final}}</span></span>{% else %}</span><input style="margin-left: 12px; width: auto; font-size: 30px; padding: 0; background: none; border: none;" type="month" onchange="document.getElementById('cambiar_mes').value = this.value; document.cambio_mes.submit();" value="{{mes}}">{% endif %}
    </div>
    <form action="/pagos" method="POST" name="cambio_mes">
        <input type="hidden" name="cambiar_mes" id="cambiar_mes">
        <input type="hidden" name="fecha_inicial" id="fecha_inicial">
        <input type="hidden" name="fecha_final" id="fecha_final">
    </form>
    <div style="text-align: center; width: 95%; color: #2ECC71; margin: 0 auto; font-size: 20px; margin-bottom: 10px; display: flex; justify-content: center;">
        Total registrado: $<h4 style="margin: 0; padding: 0; margin-left: 5px;">{{suma}}</h4>
    </div>
    <table style="width: 95%; margin: 0 auto; margin-bottom: 40px;">
        {% if pagos == () %}
        <tr>
            <th style="background: none; color: black; text-align: center;">
                <img src="{{ url_for('static', filename='img/file-circle-exclamation-solid.svg') }}" height="20" width="20" style="vertical-align: bottom; margin: 0; padding: 0;"> No hay registros de pagos cargados en el sistema de estas fechas.
            </th>
        </tr>
        {% else %}
        <tr>
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Datos del pago</th>
            <th colspan="2">Pago</th>
            <th>Fecha de pago</th>
        </tr>
        {% for pago in pagos %}
        <tr>
            <td><img src="{{ url_for('static', filename='img/industry-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[1]}} • <img src="{{ url_for('static', filename='img/headset-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[10]}}</td>
            <td><img src="{{ url_for('static', filename='img/person-circle.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[4]}} • <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[5]}}</td>
            <td>{% if pago[3] != None %}<img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> Hoja N°{{pago[3]}} • {% endif %}{% if pago[2] != '' %}<img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[2]}}{% endif %}{% if pago[6] != None %} • <span style="color: red;"><img src="{{ url_for('static', filename='img/calendar-xmark-regular.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> Vencimiento: {{pago[6]}}</span>{% endif %}</td>
            <td style="text-align: center; color: #008080">$ {{pago[9]}}</td>
            <td style="width: 10px;"><img src="{{ url_for('static', filename='img/logo_'+pago[8]+'.png') }}" height="20" style="vertical-align: middle; margin: 0; padding: 0;"></td>
            <td><img src="{{ url_for('static', filename='img/check-to-slot-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{pago[7]}}</td>
            {% if current_user.rol == 'admin' %}
            <td style="text-align: center;">
                <span class="icon-container"><button type="button" onclick="eliminarRegistroPago('{{pago[0]}}', '{{pago[4]}}', '{{pago[9]}}');" style="background: none; border: none;"><img src="{{ url_for('static', filename='img/delete.png') }}" width="15" height="15" style="vertical-align: middle; margin: 0; padding: 0;"></button><span class="tooltip" id="tooltip-editar" style="background-color: #F44336;">Eliminar registro</span></span>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="7" style="border-top: 1px solid gainsboro;"></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% if impagos != () %}
    <div style="text-align: center; width: 95%; color: orangered; margin: 0 auto; font-size: 20px; margin-bottom: 10px; display: flex; justify-content: center;">
        Total por cobrar: $<h4 style="margin: 0; padding: 0; margin-left: 5px;">{{sumaimpagos}}</h4>
    </div>
    {% endif %}
    <table style="width: 95%; margin: 0 auto; margin-bottom: 15px;">
        {% if impagos == () %}
        <tr>
            <th style="background: none; color: black; text-align: center;">
                <img src="{{ url_for('static', filename='img/file-circle-exclamation-solid.svg') }}" height="20" width="20" style="vertical-align: bottom; margin: 0; padding: 0;"> No hay registros impagos en el sistema de estas fechas.
            </th>
        </tr>
        {% else %}
        <tr>
            <th style="background-color: gainsboro; color: grey;">Empresa</th>
            <th style="background-color: gainsboro; color: grey;">Cliente</th>
            <th style="background-color: gainsboro; color: grey;">Datos del pago</th>
            <th style="background-color: gainsboro; color: orangered;">Cobranza</th>
        </tr>
        {% for p in impagos %}
        <tr>
            <td>
                <img src="{{ url_for('static', filename='img/industry-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{p[1]}}
            </td>
            <td>
                <img src="{{ url_for('static', filename='img/person-circle.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{p[2]}} • <img src="{{ url_for('static', filename='img/phone-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{p[3]}}
            </td>
            <td>
                <img src="{{ url_for('static', filename='img/house-flag-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> Hoja N°{{p[0]}} {% if p[4] != '' %}• <img src="{{ url_for('static', filename='img/toolbox-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{p[4]}} {% endif %}{% if p[5] != '' %}• <img src="{{ url_for('static', filename='img/network-wired-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"> {{p[5]}}{% endif %}• <img src="{{ url_for('static', filename='img/thumbtack-solid.svg') }}" height="15" width="15" style="vertical-align: middle; margin: 0; padding: 0;"><span style="color: #008080;"> {{p[11]}}</span>
            </td>
            <td style="color: orangered; text-align: center;">
                $ {{p[10]}}
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border-top: 1px solid gainsboro;"></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}

{% block js %}
<script>
    function eliminarRegistroPago(idpago, cliente, total){
        let opcion = confirm("¿Está seguro de eliminar el pago N° de registro "+idpago+" de "+cliente+" de $"+total);
        if (opcion == true) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/pagos/eliminar_pago', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({pagosid: [idpago, cliente]}));
            Swal.fire
            ({
                title: "Listo!",
                text: "Registro de pago eliminado con éxito!",
                icon: "success"
            });
            window.location.replace('/pagos')
        }
    }
</script>
{% endblock %}