{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
<!-- <meta http-equiv="refresh" content="15"> -->
{% endblock %}

{% block titulo %}
Administración Los Andes | Registros
{% endblock %}

{% block body %}
<div id="main-content">
    <h1>Panel de registros. <select style="font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="document.getElementById('filtro').value = 'limite'; document.getElementById('limite').value = this.value; document.getElementById('btn-enviar').click();">
        {% if mostrados != 25 and mostrados != 50 and mostrados != 75 and mostrados != 100 and mostrados != n_registros[0] %}<option selected>Mostrar {{mostrados}}</option>{% endif %}
        <option value="25" {% if mostrados == '25' %}selected{% endif %}>Mostrar 25</option>
        <option value="50" {% if mostrados == '50' %}selected{% endif %}>Mostrar 50</option>
        <option value="75" {% if mostrados == '75' %}selected{% endif %}>Mostrar 75</option>
        <option value="100" {% if mostrados == '100' %}selected{% endif %}>Mostrar 100</option>
        <option value="all" {% if mostrados == n_registros[0] %}selected{% endif %}>Mostrar todos ({{n_registros[0]}})</option>
    </select><span class="icon-container"><button type="button" style="margin-left: 10px; padding: 3px; vertical-align: middle;" onclick="localStorage.removeItem('filtros'); document.getElementById('filtro_agentes').value = ''; document.getElementById('filtro_cliente').value = ''; document.getElementById('filtro_tarea').value = '';"><a href="{{ url_for('registros') }}"><img src="{{ url_for('static', filename='img/rotate-left-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"></a></button><span class="tooltip" id="tooltip-editar">Recargar "Registros"</span></span>
    {% if repetidos[0] != 0 %}
    <button style="float: right;" class="btn warning" onclick="document.getElementById('filtro').value = 'duplicados'; document.getElementById('btn-enviar').click();"><img src="{{ url_for('static', filename='img/warning_icon.svg.png') }}" height="25" style="vertical-align: middle;"> Hay registros duplicados</button>
    {% endif %}
    {% if faltantes[0] != 0 %}
    <button style="float: right; margin-right: 8px;" class="btn secondary" onclick="document.getElementById('filtro').value = 'faltantes'; document.getElementById('btn-enviar').click();"><img src="{{ url_for('static', filename='img/person-circle-exclamation-solid.svg') }}" height="25" style="vertical-align: middle;"> Hay datos faltantes</button>
    {% endif %}
    </h1>
    <table style="border: 1px solid black; margin: 0 auto;" id="tabla_registros">
        <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const tableRows = document.querySelectorAll('#tabla_registros tbody tr');

        tableRows.forEach((row, index) => {
        if (index > 1){
            row.addEventListener('mouseenter', () => {
            row.style.transition = 'transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out';
            row.style.transform = 'scale(1.03)';
            //row.style.boxShadow = '2px 2px 10px rgba(0, 0, 0, 0.2)';
            row.style.boxShadow = '0 0 10px #008080';
        });

        row.addEventListener('mouseleave', () => {
            row.style.transform = 'scale(1)';
            row.style.boxShadow = 'none';
        });
    }
    });
});
        </script>
        <tr>
            <td>
            <select id="filtro_empresa" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px;" onchange="document.getElementById('filtro').value = 'empresa'; document.getElementById('limite').value = this.value; document.getElementById('btn-enviar').click()">
                <option value="" style="color:gainsboro">Filtro por empresa...</option>
                {% for emp in empresas %}
                <option value="{{emp[0]}}" {% if empresa == emp[0] %}selected{% endif %}>{{emp[0]}}</option>
                {% endfor %}
            </select>
            </td>
            <td>            
            <select id="filtro_agentes" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px;" onchange="guardarFiltros(); aplicarFiltros();">
                <option value="" style="color:gainsboro">Filtro por agente...</option>
                {% for agt in agentes_purgados %}
                <option value="{{agt[0]}}">{{agt[0]}}</option>
                {% endfor %}
            </select>
            </td>
            <td colspan="2">
                <input type="text" style="font-size: 14px; background: none; border: none; margin: 0; height: 25px;" placeholder="Filtro por cliente..." id="filtro_cliente" onkeyup="guardarFiltros(); aplicarFiltros();">
            <!--
                <select id="filtro_cliente" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="filtro('filtro_cliente', 'tabla_registros', 3, 1)">
                    <option value="" style="color:gainsboro">Filtro por cliente...</option>
                    {% for cli in clientes %}
                    <option value="{{ cli[0] }}.">{{ cli[0] }}</option>
                    {% endfor %}
                </select>
            -->
            </td>
            <form action="/registros" method="POST">
            <td style="display: flex; vertical-align: middle; margin: 0; padding: 0;">
            <!--
                <select id="filtro_calendario" onchange="filtro('filtro_calendario', 'tabla_registros',6,1)" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                    <option value="" style="color:gainsboro">Filtro por fecha...</option>
                    <option value="-01-">Enero</option>
                    <option value="-02-">Febrero</option>
                    <option value="-03-">Marzo</option>
                    <option value="-04-">Abril</option>
                    <option value="-05-">Mayo</option>
                    <option value="-06-">Junio</option>
                    <option value="-07-">Julio</option>
                    <option value="-08-">Agosto</option>
                    <option value="-09-">Septiembre</option>
                    <option value="-10-">Octubre</option>
                    <option value="-11-">Noviembre</option>
                    <option value="-12-">Diciembre</option>
                </select>
            -->
            Desde<input name="fecha_inicial" id="fecha_inicial" type="date" style="font-family: 'Rubik', sans-serif; font-size: 14px; height: 25px; width: 75%; margin: 0 10px 0 10px;" value="{{fecha_inicial}}">hasta
            <input name="fecha_final" id="fecha_final" type="date" style="font-family: 'Rubik', sans-serif; font-size: 14px; height: 25px; width: 75%; margin: 0 10px 0 10px;" value="{{fecha_final}}">
            <span class="icon-container">
            <button type="button" onclick="document.getElementById('filtro').value = 'fechas'; document.getElementById('limite').value = document.getElementById('campo').value; document.getElementById('btn-enviar').click();" style="margin-right: 10px; height: 25px;"><img src="{{ url_for('static', filename='img/magnifying-glass-chart-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"></button>
            <span class="tooltip" id="tooltip-editar">Filtrar entre fechas</span></span>
            <button type="submit" id="btn-enviar" hidden></button>
            <input type="hidden" id="filtro" name="filtro">
            <input type="hidden" id="limite" name="limite">
            <span class="icon-container">
            <!--
            <button type="button" style="margin-left: 10px;"><a href="{{ url_for('registros') }}"><img src="{{ url_for('static', filename='img/rotate-left-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"></a></button>
            -->
            <select id="campo" style="font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px;" >
                <option value="fecha" {% if categoria == 'fecha' %}selected{% endif %}>Registros</option>
                <option value="fecha_tarea" {% if categoria == 'fecha_tarea' %}selected{% endif %}>Tareas</option>
            </select>
            <span class="tooltip" id="tooltip-editar">¿Que campo desea filtrar entre fechas?</span></span>
            </td>
            </form>
            <td>
                <span style="display: flex;">
                <select id="filtro_tarea" onchange="guardarFiltros(); aplicarFiltros();" style="margin-right: 5px; font-family: 'Rubik', sans-serif; font-size: 16px; height: 25px;">
                    <option value="" style="color: gainsboro;">Tarea...</option>
                    {% if tareas_empresa != () %}
                        {% for te in tareas_empresa %}
                            {% if te[0] == '' %}
                            <option value="No se le asignó ninguna tarea">SIN TAREA</option>
                            {% else %}
                            <option value="{{te[0]}}">{{te[0]}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
                <span class="icon-container">
                <input onchange="document.getElementById('fecha_inicial').value = this.value; document.getElementById('filtro').value = 'fecha_unica'; document.getElementById('btn-enviar').click();" type="date" style="font-family: 'Rubik', sans-serif; font-size: 14px; height: 25px; width: 100%;" value="{{fechaunica}}">
                <span class="tooltip" id="tooltip-editar">Filtrar tareas por una fecha específica</span></span>
            </span>
            </td>
        </tr>
        <tr>
            <th>Empresa</th>
            <th>Agente</th>
            <th colspan="2">Cliente</th>
            <th>Notas de llamada</th>
            <th colspan="4">Tarea</th>
        </tr>
        
        {% for i in tablas %}
        <tr style="{% if i[9] == 'NO LE INTERESA' or i[9] == 'COTIZACIÓN ENVIADA' %}color: white;{% endif %}background-color: #{{i[14]}};">
            <!--<textarea id="{{ i[8] }}" style="display: None;">{{ i[6] }}</textarea>-->
                <td><span class="icon-container"><i class="fa fa-industry"></i><select onchange="cambiarRegistro(this.value, '{{i[8]}}', 'empresa', '{{i[2]}}', '{{i[3]}}', null);" style="{% if i[9] == 'NO LE INTERESA' or i[9] == 'COTIZACIÓN ENVIADA' %}color: white;{% endif %}font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; margin: 0; cursor: pointer;">{% for e in empresas %}<option value="{{e[0]}}" {% if e[0] == i[0] %}selected{% endif %} style="color: black">{{e[0]}}</option>{% endfor %}</select><span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span></td>
                
                <td><span class="icon-container"><i class="fa fa-headphones"></i><select style="{% if i[9] == 'NO LE INTERESA' or i[9] == 'COTIZACIÓN ENVIADA' %}color: white;{% endif %}font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; margin: 0; cursor: pointer;" onchange="cambiarRegistro(this.value, '{{i[8]}}', 'agente', '{{i[2]}}', '{{i[3]}}', null)">{% for a in agentes %}<option value="{{a[0]}}" {% if a[0] == i[1] %}selected{% endif %} style="color: black">{{a[0]}}</option>{% endfor %}</select><span class="tooltip" id="tooltip-editar">Cambiar agente</span></span></td>
                
                <td hidden>{{i[1]}}</td>
                
                <td><span class="icon-container"><i class="fa fa-user-circle" {% if i[3] != '' %}onclick="cambiarRegistroPopUp('o', '{{i[8]}}', 'nombre', '{{i[2]}}', '{{i[3]}}', '{{i[2]}}', null);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Cambiar nombre</span></span> {{ i[2] }}

                {% if i[3] != '' %}
                    <br><span class="icon-container"><i class="fa fa-phone" {% if editar_telefono == 'SI' %}onclick="cambiarRegistroPopUp('o', '{{i[3]}}', 'telefono', '{{i[2]}}', '{{i[3]}}', '{{i[3]}}', null);" style="cursor: pointer;"{% endif %}></i><span class="tooltip" id="tooltip-editar">Editar teléfono</span></span> {{ i[3] }}
                {% endif %}

                {% if i[0] == 'TS NETWORK CAMARAS DE SEGURIDAD' or i[0] == 'TS NETWORK INTERNET' %}
                <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{i[8]}}', 'direccion', '{{i[2]}}', '{{i[3]}}', '{{i[13]}}', null);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{i[13]}}
                {% else %}
                    {% if i[13] != '' %}
                    <br><span class="icon-container"><i class="fa fa-map-marker" onclick="cambiarRegistroPopUp('a', '{{i[8]}}', 'direccion', '{{i[2]}}', '{{i[3]}}', '{{i[13]}}', null);" style="cursor: pointer;"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{i[13]}}
                    {% endif %}
                {% endif %}

                {% if i[4] != '' %}
                <br><span class="icon-container"><i class="fa fa-envelope" onclick="cambiarRegistroPopUp('o', '{{i[8]}}', 'email', '{{i[2]}}', '{{i[3]}}', '{{i[4]}}', null);" style="cursor: pointer"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{i[4]}}
                {% endif %}

                </td>

                <td style="text-align: center;">

                    {% if i[3] != '' %}
                    <div class="icon-container"><i class="fa fa-vcard" onclick="document.formulario.action='/seguimiento'; document.getElementById('telefono_seg').value = '{{i[3]}}'; document.formulario.submit()" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Seguimiento</div></div>
                    {% else %}
                    <div class="icon-container"><i class="fa fa-volume-control-phone" onclick="cambiarRegistroPopUp('o', '{{i[3]}}', 'telefono sin registrar', '{{i[2]}}', null, '', null);" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Agregar teléfono</div></div>
                    {% endif %}

                    {% if i[9] == 'YA INSTALÓ' or i[9] == 'INSPECCIÓN PROGRAMADA' or i[9] == 'INSPECCIÓN REALIZADA' or i[9] == 'INSTALACIÓN PROGRAMADA' %}
                        <div class="icon-container"><i class="fa fa-home" onclick="document.formulario.action='/hoja_de_inspeccion'; document.getElementById('eliminar').value = '{{i[8]}}'; document.getElementById('empresa').value='{{i[0]}}'; document.formulario.submit()" style="cursor: pointer"></i><div class="tooltip" id="tooltip-editar">Hoja de inspección</div></div>
                        {% if i[15] == 1 %}
                            {% for hojas in pdfs %}
                                {% if i[8] == hojas[1] %}
                                <div class="icon-container"><i class="fa fa-file-text" style="cursor:pointer;" onclick="nuevoPDFexistente('{{i[8]}}', 'si')"></i>
                                <a href="{{ url_for('static', filename='hojas/HOJA_'+hojas[0]+'_'+hojas[2]+'_'+hojas[3]+'.pdf') }}" id="etiqueta{{i[8]}}" hidden></a>
                                <div class="tooltip" id="tooltip-editar">Generar PDF</div></div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <div class="icon-container">
                        <i class="fa fa-file-text-o" style="cursor:pointer;" onclick="triggerFileInput('{{i[8]}}', '{{i[2]}}', '{{i[13]}}', '{{i[3]}}', '{{i[0]}}');"></i>
                        <a href="{{ url_for('static', filename='hojas/HOJA_'+ultimahoja[0]+'_'+i[2].strip().upper()+'_'+i[8].replace(':','')+'.pdf') }}" id="etiqueta{{i[8]}}" hidden></a>
                        <input type="file" style="display: none" id="{{i[8]}}inputfile">
                        <div class="tooltip" id="tooltip-editar">Generar PDF vacío</div></div>
                        {% endif %}
                    {% endif %}

                </td>

                <td>
                    
                <i class="fa fa-calendar-o" style="cursor:pointer;"></i> Registro del {{i[7]}}
                <br><span class="icon-container"><i class="fa fa-sticky-note" style="cursor:pointer;" onclick="cambiarRegistroPopUp('a', '{{i[8]}}', 'nota', '{{i[2]}}', '{{i[3]}}', '{{i[5]}}', null);"></i><span class="tooltip" id="tooltip-editar">Editar nota</span></span>{% if i[5] != '' %} {{ i[5] }}{% else %} <i class="fa fa-window-close"></i> No tiene ninguna nota cargada.{% endif %}
                {% if i[9] == 'NO LE INTERESA' %}
                    {% if i[12] != None %}
                        {% if i[12] != '' %}
                            <br><i class="fa fa-times"></i> Razón: {{i[12]}}
                        {% endif %}
                    {% endif %}
                {% endif %}

                </td>
            <!--
                <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" onclick="motivo('{{ i[8]}}')"></button></td>
            --> 
                <td>
                    <span class="icon-container"><i class="fa fa-briefcase" style="cursor: pointer;" onclick="setearPopUp('{{i[8]}}', '{{i[2]}}', '{{i[5]}}', '{{i[6]}}', '{{i[10]}}', '{{i[11]}}', '{{i[3]}}')"></i><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span>
                {% if i[9] != '' %}
                    {% if i[9] != 'NO LE INTERESA' %}
                        {{ i[9] }}
                        {% if i[10] != None %}
                            el {{ i[10] }}
                                {% if i[11] != '' %} 
                                    a las {{ i[11] }} h
                                {% endif %}
                        {% endif %}
                    {% else %}
                    <i class="fa fa-thumbs-down"></i> No le interesa.
                    {% endif %}
                {% else %}
                <i class="fa fa-window-close"></i> No tiene asignada ninguna tarea.
                {% endif %}
                
                </td>

                <td>
                    <span class="icon-container"><i class="fa fa-thumbs-down" style="cursor: pointer; text-shadow: 0 0 5px black; color: red;" onclick="cambiarRegistroPopUp('a', '{{i[8]}}', 'razon de desinteres', '{{i[2]}}', '{{i[3]}}', '', null);"></i><span class="tooltip" id="tooltip-editar" style="background-color: #F44336; border: 0.5px solid black;">No le interesó</span></span>
                </td>
                <!--      
                    
                    <span class="icon-container" id="flotante_calendar_{{i[8]}}"><img src="{{ url_for('static', filename='img/calendar-days-solid.svg') }}" width="15" height="15" class="icon" id="editar-icono" type="button" onclick="document.getElementById('myModal').style.display = 'flex';"><span class="tooltip" id="tooltip-editar">Cambiar fecha de tarea</span></span>

                    <span class="icon-container" id="flotante_tarea_{{i[8]}}"><img src="{{ url_for('static', filename='img/briefcase-solid.svg') }}" width="15" height="15" class="icon" id="editar-icono" type="button" onclick="document.getElementById('flotante_tarea_{{i[8]}}').setAttribute('hidden', 'hidden'); document.getElementById('select_tarea{{i[8]}}').removeAttribute('hidden');"><span class="tooltip" id="tooltip-editar">Cambiar tarea</span></span>
                    <select name="tarea" id="select_tarea{{i[8]}}" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('/registros/editarregistro/actualizar', this.value, '{{i[8]}}', 'tarea', 'null', null, '', '', '');" hidden>
                        {% for t in tareas %}
                        {% if t[1] != 'NO LE INTERESA' %}
                        {% if i[9] == t[1] %}
                        <option value="{{t[0]}}" selected>{{t[1]}}</option>
                        {% else %}
                        <option value="{{t[0]}}">{{t[1]}}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </select>
                       
                    <select name="calendario" id="select_calendar{{i[8]}}" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('/registros/editarregistro/actualizar', this.value, '{{i[8]}}', 'fecha', 'null', null, '', '', '');" hidden>
                    {% for c in calendario %}
                    {% if i[10] == c[0] %}
                    <option value="{{ c[0] }}" selected>{{c[1]}}</option>
                    {% else %}
                    <option value="{{ c[0] }}">{{c[1]}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>

                    <span class="icon-container" id="flotante_hora_{{i[8]}}"><img src="{{ url_for('static', filename='img/clock-regular.svg') }}" width="15" height="15" class="icon" id="editar-icono" type="button" onclick="document.getElementById('flotante_hora_{{i[8]}}').setAttribute('hidden', 'hidden'); document.getElementById('select_hora{{i[8]}}').removeAttribute('hidden');"><span class="tooltip" id="tooltip-editar">Cambiar hora de tarea</span></span>
                    <select name="hora" id="select_hora{{i[8]}}" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('/registros/editarregistro/actualizar', this.value, '{{i[8]}}', 'hora', 'null', null, '', '', '');" hidden>
                        <option value='{{ i[11] }}' style="color: #008080;" selected>{{ i[11] }}</option>
                        {% for hora in range(9,20) %}
                        <option value="{{hora}}:00 h">{{ hora }}:00 h</option>
                        {% endfor %}
                    </select>

                    <span class="icon-container"><img src="{{ url_for('static', filename='img/send-blue.png') }}" width="15" height="15" class="icon" id="editar-icono" type="button"><span class="tooltip" id="tooltip-editar" style="background-color: blue;">Enviar cotización</span></span>
              
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="button" class="btn danger" style="padding: 6px; font-size: 14px;" onclick="rechazar('{{ i[8] }}')">No le interesó</button></td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button style="padding: 6px; font-size: 14px;" class="btn primary">Enviar cotización</button></td>
                -->
        </tr>
        {% endfor %}
        <form method="POST" name="formulario" action="/registros/editarregistro" id="formulario">
        <input type="hidden" name="eliminar" id="eliminar">
        <input type="hidden" id="telefono_seg" name="telefono_seg">
        <input type="hidden" id="empresa" name="empresa">
        </form>
    </table>
</div>
{% endblock %}

{% block js %}
<script>
function nuevoPDF(idfecha, existe, nombre, direccion, telefono, empresa){
    var inputFile = document.getElementById(idfecha+'inputfile');
    var file = inputFile.files[0];
    if (file){
    var formData = new FormData();
    formData.append('existe', existe);
    formData.append('idfecha', idfecha);
    formData.append('datos', JSON.stringify([nombre, direccion, telefono, empresa]));
    formData.append('mapa', file);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/hoja_de_inspeccion/generarpdf', true);
    //xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload =  function() {
        if (xhr.status === 200) {
            document.getElementById('etiqueta'+idfecha).click();
        }else{
            alert('Error al generar PDF. La hoja de inspección tiene datos faltantes.');
        }
    };
    //xhr.send(JSON.stringify({idfecha: idfecha, existe: existe, datos: [nombre, direccion, telefono, empresa]}));
    xhr.send(formData)
    }
    restaurarFiltros();
}   
function nuevoPDFexistente(idfecha, existe){
    var formData = new FormData();
    formData.append('existe', existe);
    formData.append('idfecha', idfecha);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/hoja_de_inspeccion/generarpdf', true);
    //xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload =  function() {
        if (xhr.status === 200) {
            document.getElementById('etiqueta'+idfecha).click();
        }else{
            alert('Error al generar PDF. La hoja de inspección tiene datos faltantes.');
        }
    };
    xhr.send(formData);
}

function triggerFileInput(itemId, nombre, direccion, telefono, empresa){
    document.getElementById(itemId+'inputfile').click();
    document.getElementById(itemId+'inputfile').onchange = function(){
        nuevoPDF(itemId, 'no', nombre, direccion, telefono, empresa);
    };
}

function guardarFiltros() {
    const filtros = {
        filtro1: document.getElementById('filtro_agentes').value,
        filtroTexto: document.getElementById('filtro_cliente').value,
        filtro3: document.getElementById('filtro_tarea').value
    };
    localStorage.setItem('filtros', JSON.stringify(filtros));
}

function restaurarFiltros() {
    const filtros = JSON.parse(localStorage.getItem('filtros'));
    if (filtros) {
        document.getElementById('filtro_agentes').value = filtros.filtro1;
        document.getElementById('filtro_cliente').value = filtros.filtroTexto;
        document.getElementById('filtro_tarea').value = filtros.filtro3;
        aplicarFiltros()
    }
}

// Restaurar y aplicar filtros al cargar la página
window.onload = function() {
    restaurarFiltros();
};

document.getElementById('filtro_tarea').addEventListener('change', function() {
    guardarFiltros();
    aplicarFiltros();
});

document.getElementById('filtro_agentes').addEventListener('change', function() {
    guardarFiltros();
    aplicarFiltros();
});

document.getElementById('filtro_cliente').addEventListener('input', function() {
    guardarFiltros();
    aplicarFiltros();
});

function aplicarFiltros() {
    if (document.getElementById('filtro_cliente').value == '') {
        document.getElementById('filtro_agentes').removeAttribute('disabled');
        document.getElementById('filtro_tarea').removeAttribute('disabled');
        filtro('filtro_cliente', 'tabla_registros', 3, 1);

        if(document.getElementById('filtro_tarea').value != ''){
            document.getElementById('filtro_agentes').value = '';
            document.getElementById('filtro_agentes').setAttribute('disabled', 'disabled');
            filtro('filtro_tarea', 'tabla_registros', 6, 1);
        }

        if(document.getElementById('filtro_agentes').value != ''){
            document.getElementById('filtro_tarea').value = '';
            document.getElementById('filtro_tarea').removeAttribute('disabled');
            filtro('filtro_agentes', 'tabla_registros', 2, 1);
        }
    }else{
        document.getElementById('filtro_tarea').value = '';
        document.getElementById('filtro_tarea').setAttribute('disabled', 'disabled');
        document.getElementById('filtro_agentes').value = '';
        document.getElementById('filtro_agentes').setAttribute('disabled', 'disabled');
        filtro('filtro_cliente', 'tabla_registros', 3, 1);
    };
}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}