{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/altacliente-style.css') }}">
<!-- <meta http-equiv="refresh" content="15"> -->
{% endblock %}

{% block titulo %}
Administración Los Andes | Registros
{% endblock %}

{% block body %}
<div id="main-content">
    <h1>Panel de registros.</h1>
    <table style="border: 1px solid black; margin:0 auto;" id="tabla_registros">
        <tr>
            <td>
            <select id="filtro_empresa" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="filtro('filtro_empresa', 'tabla_registros', 0, 1)">
                <option value="" style="color:gainsboro">Filtro por empresa...</option>
                {% for emp in empresas %}
                <option value="{{emp[0]}}">{{emp[0]}}</option>
                {% endfor %}
            </select>
            </td>
            <td colspan="2">            
            <select id="filtro_agentes" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="filtro('filtro_agentes', 'tabla_registros', 1, 1)">
                <option value="" style="color:gainsboro">Filtro por agente...</option>
                {% for agt in agentes %}
                <option value="{{agt[0]}}">{{agt[0]}}</option>
                {% endfor %}
            </select>
            </td>
            <td colspan="3">
                <input type="text" style="font-size: 14px; background: none; border: none; margin: 0;" placeholder="Filtro por cliente..." id="filtro_cliente" onkeyup="filtro('filtro_cliente','tabla_registros',3,1)">
            <!--
                <select id="filtro_cliente" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="filtro('filtro_cliente', 'tabla_registros', 3, 1)">
                    <option value="" style="color:gainsboro">Filtro por cliente...</option>
                    {% for cli in clientes %}
                    <option value="{{ cli[0] }}.">{{ cli[0] }}</option>
                    {% endfor %}
                </select>
            -->
            </td>
            <td>
                <select id="filtro_calendario" onchange="filtro('filtro_calendario', 'tabla_registros',6,1)" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                    <option value="" style="color:gainsboro">Filtro por fecha...</option>
                    <option value="-01-">Enero</option>
                    <option value="-02-">Febrero</option>
                    <option value="-03-">Marzo</option>
                    <option value="-04-">Abril</option>
                    <option value="-05-">Mayo</option>
                    <option value="-06-">Junio</option>
                    <option value="-07-">Julio</option>
                    <option value="-08-">Agosto</option>
                    <option value="-09-">Septiembre</option>
                    <option value="-10-">Octubre</option>
                    <option value="-11-">Noviembre</option>
                    <option value="-12-">Diciembre</option>
                </select>
            </td>
            <td></td>
            <td>
                <select id="filtro_tarea" onchange="filtro('filtro_tarea', 'tabla_registros',8,1)" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;">
                    <option value="" style="color: gainsboro;">Filtro por tarea...</option>
                    {% for tar in tareas %}
                    {% if tar[0] == 0 %}
                    <option value="No se le asignó ninguna tarea">Sin tarea</option>
                    {% else %}
                    <option value="{{ tar[1] }}">{{ tar[1] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3">
            <select id="filtro_estado" style="width: 100%; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="filtro('filtro_estado', 'tabla_registros', 15,1)">
                <option value="" style="color: gainsboro">Filtrar por estado...</option>
                <option value="listo" class="btn success">Listo</option>
                <option value="pendiente" class="btn warning">Pendiente</option>
                <option value="rechazado" class="btn danger">Rechazado</option>
            </select>
            </td>
        </tr>
        <tr>
            <th>Empresa</th>
            <th colspan="2">Agente</th>
            <th colspan="3">Cliente</th>
            <th colspan="2">Notas de llamada</th>
            <th colspan="4">Tarea</th>
        </tr>
        <form method="POST" name="formulario" action="/registros/editarregistro"><input type="hidden" name="redireccion">
        {% for i in tablas %}
        <tr style="color: white;">
            {% if i[12] == "pendiente" %}
            <textarea id="{{ i[8] }}" style="display: None;">{{ i[6] }}</textarea>
                <td style="border-radius: 5px; background-color: #ff9800;">{{ i[0] }}</td>
                <td style="border-radius: 5px; background-color: #ff9800;">{{ i[1] }}</td>
                <td style="border-radius: 5px; background-color: #ff9800;">
                    <select id="{{i[8]}}agnt" onchange="cambiarAgente(document.getElementById('{{ i[8] }}agnt').value, '{{i[8]}}')" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;">
                        {% for a in agentes %}
                        {% if i[1] == a[0] %}
                        <option value="{{a[0]}}" selected>{{a[0]}}</option>
                        {% else %}
                        <option value="{{a[0]}}">{{a[0]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="border-radius: 5px; background-color: #ff9800;">{{ i[2] }}.
                {% if i[3] != '' %}
                    <br><img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ i[3] }}.
                {% endif %}
                {% if i[14] != '' %}
                    <br><img src="{{ url_for('static', filename='img/location-dot-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[14]}}
                {% endif %}
                {% if i[4] != '' %}
                <br><img src="{{ url_for('static', filename='img/envelope-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[4]}}
                {% endif %}
                </td>
                <td>
                    {% if i[3] != '' %}
                    <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="document.formulario.action='/seguimiento'; document.getElementById('telefono_seg').value = '{{i[3]}}'; document.formulario.submit()"><img src="{{ url_for('static', filename='img/address-card-regular.svg') }}" width="20" height="20"></button>
                    {% endif %}
                </td>
                <td>
                    {% if i[7] != 0 %}
                    <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="btnCotizacion(document.getElementById('{{ i[8] }}').value, '{{ i[7] }}')"><img src="{{ url_for('static', filename='img/hand-holding-dollar-solid.svg') }}" width="20" height="20"></button>
                    {% endif %}
                </td>
                <td style="border-radius: 5px; background-color: #ff9800;">Llamada el {{i[8]}}
                    {% if i[5] != '' %}
                    <br>Nota: {{ i[5] }}
                    {% endif %}
                </td>
                <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" onclick="motivo('{{ i[8]}}')"></button></td>
                {% if i[9] != '' %}
                <td style="border-radius: 5px; background-color: #ff9800;">{{ i[9] }} el {{ i[10] }}
                    {% if i[11] != '' %} 
                    a las {{ i[11] }}
                    {% endif %}
                </td>
                {% else %}
                <td style="border-radius: 5px; background-color: #ff9800;">No se le asignó ninguna tarea</td>
                {% endif %}
                <td>
                    <select name="tarea" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('tarea', this.value, '{{i[8]}}')">
                        {% for t in tareas %}
                        {% if i[9] == t[1] %}
                        <option value="{{t[0]}}" selected>{{t[1]}}</option>
                        {% else %}
                        <option value="{{t[0]}}">{{t[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="calendario" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('fecha', this.value, '{{i[8]}}')">
                    {% for c in calendario %}
                    {% if i[10] == c[0] %}
                    <option value="{{ c[0] }}" selected>{{c[1]}}</option>
                    {% else %}
                    <option value="{{ c[0] }}">{{c[1]}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="hora" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('hora', this.value, '{{i[8]}}')">
                        <option value='{{ i[11] }}' style="color: #008080;" selected>{{ i[11] }}</option>
                        {% for hora in range(9,20) %}
                        <option value="{{hora}}:00 h">{{ hora }}:00 h</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value ='a_listo'" class="btn success" style="padding: 6px; font-size: 14px;">Listo</button></td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value = 'a_pendiente'" class="btn warning" style="padding: 6px; font-size: 14px;">Pendiente</button></td>
                <button id="btn{{ i[8] }}" type="submit" hidden></button>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="button" class="btn danger" style="padding: 6px; font-size: 14px;" onclick="rechazar('{{ i[8] }}')">Rechazado</button></td>
                <td style="display: none;">{{i[12]}}</td>
            {% elif i[12] == "listo" %}
            <textarea id="{{ i[8] }}" style="display: None;">{{ i[6] }}</textarea>
                <td style="border-radius: 5px; background-color: #04AA6D;">{{ i[0] }}</td>
                <td style="border-radius: 5px; background-color: #04AA6D;">{{ i[1] }}</td>
                <td style="border-radius: 5px; background-color: #04AA6D;">
                    <select id="{{i[8]}}agnt" onchange="cambiarAgente(document.getElementById('{{ i[8] }}agnt').value, '{{i[8]}}')" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;">
                        {% for a in agentes %}
                        {% if i[1] == a[0] %}
                        <option value="{{a[0]}}" selected>{{a[0]}}</option>
                        {% else %}
                        <option value="{{a[0]}}">{{a[0]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="border-radius: 5px; background-color: #04aa6d;">{{ i[2] }}.
                    {% if i[3] != '' %}
                    <br><img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ i[3] }}.
                {% endif %}
                {% if i[14] != '' %}
                    <br><img src="{{ url_for('static', filename='img/location-dot-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[14]}}
                {% endif %}
                {% if i[4] != '' %}
                <br><img src="{{ url_for('static', filename='img/envelope-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[4]}}
                {% endif %}
                    </td>
                    <td>
                        {% if i[3] != '' %}
                        <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="document.formulario.action = '/seguimiento'; document.getElementById('telefono_seg').value = '{{i[3]}}'; document.formulario.submit()"><img src="{{ url_for('static', filename='img/address-card-regular.svg') }}" width="20" height="20"></button>
                        {% endif %}
                    </td>
                    <td>
                        {% if i[7] != 0 %}
                        <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="btnCotizacion(document.getElementById('{{ i[8] }}').value, '{{ i[7] }}')"><img src="{{ url_for('static', filename='img/hand-holding-dollar-solid.svg') }}" width="20" height="20"></button>
                        {% endif %}
                    </td>
                <td style="border-radius: 5px; background-color: #04AA6D;">Llamada el {{i[8]}}
                    {% if i[5] != '' %}
                    <br>Nota: {{ i[5] }}
                    {% endif %}
                </td>
                <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" onclick="motivo('{{ i[8]}}')"></button></td>
                {% if i[9] != '' %}
                <td style="border-radius: 5px; background-color: #04AA6D;">{{ i[9] }} el {{ i[10] }}
                    {% if i[11] != '' %} 
                    a las {{ i[11] }}
                    {% endif %}
                </td>
                {% else %}
                <td style="border-radius: 5px; background-color: #04AA6D;">No se le asignó ninguna tarea</td>
                {% endif %}
                <td>
                    <select name="tarea" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('tarea', this.value, '{{i[8]}}')">
                        {% for t in tareas %}
                        {% if i[9] == t[1] %}
                        <option value="{{t[0]}}" selected>{{t[1]}}</option>
                        {% else %}
                        <option value="{{t[0]}}">{{t[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="calendario" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('fecha', this.value, '{{i[8]}}')">
                    {% for c in calendario %}
                    {% if i[10] == c[0] %}
                    <option value="{{ c[0] }}" selected>{{c[1]}}</option>
                    {% else %}
                    <option value="{{ c[0] }}">{{c[1]}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="hora" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('hora', this.value, '{{i[8]}}')">
                        <option value='{{ i[11] }}' style="color: #008080;" selected>{{ i[11] }}</option>
                        {% for hora in range(9,20) %}
                        <option value="{{hora}}:00 h">{{ hora }}:00 h</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value ='a_listo'" class="btn success" style="padding: 6px; font-size: 14px;">Listo</button></td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value = 'a_pendiente'" class="btn warning" style="padding: 6px; font-size: 14px;">Pendiente</button></td>
                <button id="btn{{ i[8] }}" type="submit" hidden></button>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="button" class="btn danger" style="padding: 6px; font-size: 14px;" onclick="rechazar('{{ i[8] }}')">Rechazado</button></td>
                <td style="display: none;">{{ i[12] }}</td>
            {% elif i[12] == "rechazado" %}
            <textarea id="{{ i[8] }}" style="display: None;">{{ i[6] }}</textarea>
                <td style="border-radius: 5px; color: #da190b;">{{ i[0] }}</td>
                <td style="border-radius: 5px; color: #da190b;">{{ i[1] }}</td>
                <td>
                    <select id="{{i[8]}}agnt" onchange="cambiarAgente(document.getElementById('{{ i[8] }}agnt').value, '{{i[8]}}')" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;">
                        {% for a in agentes %}
                        {% if i[1] == a[0] %}
                        <option value="{{a[0]}}" selected>{{a[0]}}</option>
                        {% else %}
                        <option value="{{a[0]}}">{{a[0]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="border-radius: 5px; color: #da190b;">{{ i[2] }}.
                    {% if i[3] != '' %}
                    <br><img src="{{ url_for('static', filename='img/phone-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{ i[3] }}.
                {% endif %}
                {% if i[14] != '' %}
                    <br><img src="{{ url_for('static', filename='img/location-dot-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[14]}}
                {% endif %}
                {% if i[4] != '' %}
                <br><img src="{{ url_for('static', filename='img/envelope-solid.svg') }}" width="15" height="15" style="vertical-align: middle;"> {{i[4]}}
                {% endif %}
                    </td>
                    <td>
                        {% if i[3] != '' %}
                        <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="document.formulario.action = '/seguimiento'; document.getElementById('telefono_seg').value = '{{i[3]}}'; document.formulario.submit()"><img src="{{ url_for('static', filename='img/address-card-regular.svg') }}" width="20" height="20"></button>
                        {% endif %}
                    </td>
                    <td>
                        {% if i[7] != 0 %}
                        <button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;" onclick="btnCotizacion(document.getElementById('{{ i[8] }}').value, '{{ i[7] }}')"><img src="{{ url_for('static', filename='img/hand-holding-dollar-solid.svg') }}" width="20" height="20"></button>
                        {% endif %}
                    </td>
                <td style="border-radius: 5px; color: #da190b;">Llamada el {{i[8]}}
                    {% if i[5] != '' %}
                    <br>Nota: {{ i[5] }}
                    {% endif %}
                    {% if i[13] != '' %}
                    <br>
                    <!-- <button style="width: 100%;" type="button" onclick="alert('{{ i[13] }}')">Razón del rechazo</button> -->
                    Razón del rechazo: {{i[13]}}
                    {% endif %}
                </td>
                <td style="background: none; margin: 0; text-align: center; vertical-align: middle;"><button type="button" style="border-radius: 5px; background: none; border: none; margin: 0;"><img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" onclick="motivo('{{ i[8]}}')"></button></td>
                {% if i[9] != '' %}
                <td style="border-radius: 5px; color: #da190b;">{{ i[9] }} el {{ i[10] }}
                    {% if i[11] != '' %} 
                    a las {{ i[11] }}
                    {% endif %}
                </td>
                {% else %}
                <td style="border-radius: 5px; color: #da190b;">No se le asignó ninguna tarea</td>
                {% endif %}
                <td>
                    <select name="tarea" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('tarea', this.value, '{{i[8]}}')">
                        {% for t in tareas %}
                        {% if i[9] == t[1] %}
                        <option value="{{t[0]}}" selected>{{t[1]}}</option>
                        {% else %}
                        <option value="{{t[0]}}">{{t[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="calendario" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('fecha', this.value, '{{i[8]}}')">
                    {% for c in calendario %}
                    {% if i[10] == c[0] %}
                    <option value="{{ c[0] }}" selected>{{c[1]}}</option>
                    {% else %}
                    <option value="{{ c[0] }}">{{c[1]}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="hora" style="width: 20px; font-family: 'Rubik', sans-serif; font-size: 16px;" onchange="cambiarRegistro('hora', this.value, '{{i[8]}}')">
                        <option value='{{ i[11] }}' style="color: #008080;" selected>{{ i[11] }}</option>
                        {% for hora in range(9,20) %}
                        <option value="{{hora}}:00 h" >{{ hora }}:00 h</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value ='a_listo'" class="btn success" style="padding: 6px; font-size: 14px;">Listo</button></td>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="submit" onmouseover="document.getElementById('eliminar').value = '{{ i[8] }}'; document.getElementById('accion').value = 'a_pendiente'" class="btn warning" style="padding: 6px; font-size: 14px;">Pendiente</button></td>
                <button id="btn{{ i[8] }}" type="submit" hidden></button>
                <td style="border: none; text-align: center; border-radius: 5px;"><button type="button" class="btn danger" style="padding: 6px; font-size: 14px;" onclick="rechazar('{{ i[8] }}')">Rechazado</button></td>
                <td style="display: none;">{{i[12]}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <input type="hidden" name="eliminar" id="eliminar">
        <input type="hidden" id="accion" name="accion">
        <input type="hidden" id="nota" name="nota" value="null">
        <input type="hidden" id="agentenuevo" name="agentenuevo" value="null">
        <input type="hidden" id="telefono_seg" name="telefono_seg" value="">
        </form>
    </table>
</div>
{% endblock %}

{% block js %}
<script>
    function rechazar(id){
        document.getElementById("eliminar").value = id;
        document.getElementById("accion").value="eliminar";
        let respuesta = prompt("Razón del rechazo:");
        if (respuesta != null){
            document.getElementById('nota').value = respuesta;
            document.getElementById("btn"+id).click();
        }
    }

    function cambiarAgente(nuevo, fecha){
        document.getElementById('agentenuevo').value = nuevo;
        document.getElementById('eliminar').value = fecha;
        document.formulario.submit();
    }

    function cambiarRegistro(columna, valornuevo, idfecha){
    document.getElementById('accion').value = columna;
    document.getElementById('agentenuevo').value = valornuevo;
    document.getElementById('eliminar').value = idfecha;
    document.formulario.action = '/registros/editarregistro/actualizar';
    document.formulario.submit();
}

function motivo(id){
    document.getElementById('accion').value = 'motivo';
    document.getElementById('eliminar').value = id;
    let respuesta = prompt("Nota nueva:");
        if (respuesta != null){
            document.getElementById('agentenuevo').value = respuesta;
            document.formulario.action = '/registros/editarregistro/actualizar';
            document.formulario.submit();
        }
}
</script>
{% endblock %}