{% extends 'index.html' %}

{% block titulo %}
Administración Los Andes | Seguimiento {{registros[0][1]}}
{% endblock %}

{% block body %}
<div id="main-content">
    <h1>Panel de seguimiento de <img src="{{ url_for('static', filename='img/person-circle.svg') }}" width="30" height="30"> {{registros[0][1]}}.</h1>
<table style="background: none; box-shadow: none; margin: 0 auto;">
<tr style="text-align: center;">
    <td colspan="10">
        <h2>
            <div style="vertical-align: middle;">
                <img src="{{ url_for('static', filename='img/chalkboard-user-solid.svg') }}" width="35" height="35" style="vertical-align: middle;">{% if registros[0][8] != '' %} {{registros[0][8]}}{% else %} NO TIENE ASIGNADO NINGUNA TAREA{% endif %}
            </div>
        </h2>
    </td>
</tr>
<tr>
    <td colspan="10" style="background-color: #{{registros[0][15]}};"></td>
</tr>
<h3>
<tr>
    <td>
        {% if registros[0][8] == 'NO LE INTERESA' %}
            {% if registros[0][12] %}
                    <p style="vertical-align: middle; color: red;">
                        <span class="icon-container"><i class="fa fa-pencil-square-o" style="color: black; cursor: pointer" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'razon de desinteres', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][12]}}', null, true);"></i><span  style="background-color: red;" class="tooltip" id="tooltip-editar">Cambiar razón</span></span><i class="fa fa-ban"></i> Razón: {{registros[0][12]}}
                    </p>
            {% else %}
                    <p><button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px;" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'razon de desinteres', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][12]}}', null, true);">+<i class="fa fa-ban"></i> Agregar razón</button></p>
            {% endif %}
        {% endif %}
            <div style="vertical-align: middle;">
                {% if registros[0][8] != '' and registros[0][8] != 'NO LE INTERESA' %}
                    {% if registros[0][9] %}
                        <i class="fa fa-calendar-o"></i> Fecha de tarea: {{registros[0][16]}}
                        {% if registros[0][10] %}
                        <br>
                        <i class="fa fa-clock-o"></i> {{registros[0][10]}} h
                        {% endif %}
                        <br>
                    {% else %}
                        <i class="fa fa-calendar-o" style="color: red"></i><span style="color: red"> No tiene ninguna fecha de tarea cargada.</span>
                        <br>
                    {% endif %}
                {% endif %}
                <br>
                <button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px; cursor: pointer" onclick="setearPopUp('{{registros[0][7]}}', '{{registros[0][1]}}', '{{registros[0][4]}}', '{{registros[0][11]}}', '{{registros[0][9]}}', '{{registros[0][10]}}', '{{registros[0][2]}}', true)"><i class="fa fa-briefcase"></i> <i class="fa fa-pencil"></i> Editar tarea</button>
            </div>
    </td>
    <td></td>
    <td></td>
    <td>
        <p>
            <i class="fa fa-industry"></i><span class="icon-container"><select style="font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer;" onchange="cambiarRegistro(this.value, '{{registros[0][7]}}', 'empresa', '{{registros[0][1]}}', '{{registros[0][2]}}', null, true)">
                <option value="{{registros[0][0]}}">{{registros[0][0]}}</option>
                {% for empresa in empresas %}
                {% if empresa[0] != registros[0][0] %}
                    <option value="{{empresa[0]}}">{{empresa[0]}}</option>
                {% endif %}
                {% endfor %}
            </select><span class="tooltip" id="tooltip-editar">Cambiar empresa</span></span>
            <br>
            <i class="fa fa-headphones"></i><span class="icon-container"><select style="font-family: 'Rubik', sans-serif; font-size: 16px; background: none; border: none; cursor: pointer;" onchange="cambiarRegistro(this.value, '{{registros[0][7]}}', 'agente', '{{registros[0][1]}}', '{{registros[0][2]}}', null, true)">
                <option value="{{registros[0][13]}}">{{registros[0][13]}}</option>
                {% for agente in agentes %}
                {% if agente[0] != registros[0][13] %}
                <option value="{{agente[0]}}">{{agente[0]}}</option>
                {% endif %}
                {% endfor %}
            </select><span class="tooltip" id="tooltip-editar">Cambiar agente</span></span>
        </p>

        <p>
        {% if registros[0][4] %}
        <i class="fa fa-sticky-note"></i> <span class="icon-container"><i class="fa fa-pencil" style="cursor: pointer" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'nota', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][4]}}', null, true);"></i></i><span class="tooltip" id="tooltip-editar">Cambiar nota</span></span> {{registros[0][4]}}
        {% else %}
        <button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px; cursor: pointer;" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'nota', '{{registros[0][1]}}', '{{registros[0][2]}}', '', null, true)">+<i class="fa fa-sticky-note"></i> Agregar una nota</button>
        {% endif %}
        </p>

        <p>
        <i class="fa fa-phone"></i> <span class="icon-container"><i class="fa fa-pencil" style="cursor: pointer;" onclick="cambiarRegistroPopUp('o', '{{registros[0][2]}}', 'telefono', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][2]}}', true, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar teléfono</span></span> {{registros[0][2]}}
        <br>

        {% if registros[0][14] %}
        <i class="fa fa-map-marker"></i> <span class="icon-container"><i class="fa fa-pencil" style="cursor: pointer;" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'direccion', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][14]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar dirección</span></span> {{registros[0][14]}}
        <br>
        {% else %}
        <p><button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px; cursor: pointer;" onclick="cambiarRegistroPopUp('a', '{{registros[0][7]}}', 'direccion', '{{registros[0][1]}}', '{{registros[0][2]}}', '', null, true)">+<i class="fa fa-map-marker"></i> Agregar dirección</button></p>
        {% endif %}

        {% if registros[0][3] %}
        <i class="fa fa-envelope"></i> <span class="icon-container"><i class="fa fa-pencil" style="cursor: pointer;" onclick="cambiarRegistroPopUp('o', '{{registros[0][7]}}', 'email', '{{registros[0][1]}}', '{{registros[0][2]}}', '{{registros[0][3]}}', null, true)"></i><span class="tooltip" id="tooltip-editar">Cambiar email</span></span> {{registros[0][3]}}
        {% else %}
        <p><button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px; cursor: pointer;" onclick="cambiarRegistroPopUp('o', '{{registros[0][7]}}', 'email', '{{registros[0][1]}}', '{{registros[0][2]}}', '', null, true)">+<i class="fa fa-envelope"></i> Agregar email</button></p>
        {% endif %}
        </p>
    </td>
    <td></td>
    <td></td>
    <td>
        <div id="cotizacion_real">
        {% if registros[0][6] %}
        <img src="{{ url_for('static', filename='img/pen-to-square-solid.svg') }}" width="20" height="20" style="vertical-align: middle;" type="button" onclick="document.getElementById('pre_cotizacion').value = '{{registros[0][5]}}'; document.getElementById('cotizaciontotal').value = '{{registros[0][6]}}'; document.getElementById('menu_cotizacion').removeAttribute('hidden'); document.getElementById('cotizacion_real').setAttribute('hidden', 'hidden'); document.getElementById('pre_cotizacion').focus();"><img src="{{ url_for('static', filename='img/hand-holding-dollar-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"> Tiene una cotización cargada:
        <br><div style="color: #008080">{{registros[0][5]}}</div>
        <br><img src="{{ url_for('static', filename='img/circle-dollar-to-slot-solid.svg') }}" width="20" height="20"> Total: <div style="color: #008080">${{registros[0][6]}}</div>
        {% else %}
        <p><button type="button" style="font-family: 'Rubik', sans-serif; font-size: 16px; cursor: pointer;" onclick="document.getElementById('menu_cotizacion').removeAttribute('hidden'); document.getElementById('pre_cotizacion').focus(); document.getElementById('cotizacion_real').setAttribute('hidden', 'hidden');">+<img src="{{ url_for('static', filename='img/hand-holding-dollar-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"> Agregar cotización</button></p>
        {% endif %}
        </div>
        <div id="menu_cotizacion" hidden>
        <br>
        <button type="button" style="border-radius: 50%; float: right; text-align: center;background-color: #da190b; vertical-align: middle; color: white; cursor: pointer;" onclick="document.getElementById('menu_cotizacion').setAttribute('hidden', 'hidden'); document.getElementById('cotizacion_real').removeAttribute('hidden');">x</button>
        <br>
        <img src="{{ url_for('static', filename='img/hand-holding-solid.svg') }}" width="20" height="20"> Cotización:
        <textarea id="pre_cotizacion" cols="30" rows="10" style="width: 100%; text-transform: uppercase;"></textarea>
        <br>
        <img src="{{ url_for('static', filename='img/circle-dollar-to-slot-solid.svg') }}" width="20" height="20"> Precio:
        <input type="number" style="width: 100%;" id="cotizaciontotal">
        <br>
        <div style="text-align: center;">
        <button class="btn success" style="padding: 8px; justify-content: center; margin-bottom: 10px;" onclick="alert('La funcionalidad de este objeto no está definida.')">Guardar cotización</button>
        </div>
        </div>
    </td>
    <td></td>
    <td></td>
    <td>
        {% if preguntas %}
        <img src="{{ url_for('static', filename='img/clipboard-question-solid.svg') }}" width="20" height="20" style="vertical-align: middle;"> Tiene preguntas cargadas:
        {% for q in preguntas %}
        <p>
            <div style="margin: 0; padding: 0; color:#008080"><img src="{{ url_for('static', filename='img/circle-question-regular.svg') }}" width="20" height="20" style="vertical-align: middle;"> {{q[0]}}
            </div>
            <img src="{{ url_for('static', filename='img/comment-dots-regular.svg') }}" width="20" height="20" style="vertical-align: middle;"> {{q[1]}}
        </p>
        {% endfor %}
        {% endif %}
    </td>
</tr>
</h3>
</table>
    <table style="margin: 0 auto;">
        <tr>
            <th style="color: white; background-color: #3498DB; vertical-align: middle; font-size: 18px; padding: 3px;" colspan="3"><i class="fa fa-eye"></i> Seguimiento del cliente {{registros[0][1]}}</th>
        </tr>
        <tr>
            <th>Agente</th>
            <th>Movimiento</th>
            <th>Fecha del cambio</th>
        </tr>
        {% for i in movimientos %}
        <tr>
            <td>
                <i class="fa fa-headphones"></i> {{i[2]}}
            </td>
            <td>
                <i class="fa fa-level-up"></i> {{i[0]}}
                {% if i[5] %}
                <br>
                <span style="text-decoration: underline;">Dato nuevo:</span><span style="color: #008080"> {{i[5]}}</span>
                {% endif %}
            </td>
            <td>
                <i class="fa fa-calendar-o"></i> {{i[1]}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-top: 1px solid #BDBDBD;"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}