<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Los Andes | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/mount_icon.ico')}}">
</head>
<body>
    <form class="login-form" action="/login" method="POST">
        <p class="login-text">
        <!--
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        -->
          <span>
          <img class="mb-4 dropdown-item d-flex align-items-center active" src="{{ url_for('static', filename='img/usuario.png') }}" width="65" height="65">
          </span>

          
        </p>
        <p class="login-header" style="text-align: center; border: none; font-size: 28px; ">Inicio de sesión</p>
        <input type="text" class="login-username" autofocus="true" required="true" placeholder="Usuario" style="text-transform: lowercase;" name="login_usuario"/>
        <input type="password" class="login-password" required="true" placeholder="Contraseña" name="login_contra"/>
        <input type="submit" name="Login" value="Acceder" class="login-submit" />
      </form>
      <!-- <a href="#" class="login-forgot-pass">forgot password?</a> -->
      <div class="underlay-photo" style="background: url('{{ url_for('static', filename='img/background.jpg') }}');"></div>
      <div class="underlay-black"></div> 
</body>
</html>